In [1]:
from math import*
from random import *

In [2]:
for i in  range(1,10001):
    if str(i)==str(i)[::-1]:
        print(i)

1
2
3
4
5
6
7
8
9
11
22
33
44
55
66
77
88
99
101
111
121
131
141
151
161
171
181
191
202
212
222
232
242
252
262
272
282
292
303
313
323
333
343
353
363
373
383
393
404
414
424
434
444
454
464
474
484
494
505
515
525
535
545
555
565
575
585
595
606
616
626
636
646
656
666
676
686
696
707
717
727
737
747
757
767
777
787
797
808
818
828
838
848
858
868
878
888
898
909
919
929
939
949
959
969
979
989
999
1001
1111
1221
1331
1441
1551
1661
1771
1881
1991
2002
2112
2222
2332
2442
2552
2662
2772
2882
2992
3003
3113
3223
3333
3443
3553
3663
3773
3883
3993
4004
4114
4224
4334
4444
4554
4664
4774
4884
4994
5005
5115
5225
5335
5445
5555
5665
5775
5885
5995
6006
6116
6226
6336
6446
6556
6666
6776
6886
6996
7007
7117
7227
7337
7447
7557
7667
7777
7887
7997
8008
8118
8228
8338
8448
8558
8668
8778
8888
8998
9009
9119
9229
9339
9449
9559
9669
9779
9889
9999

In [4]:
t='January 1, 1991'
a= 2010-int(t[-4:])
a

19

In [5]:
num=input('enter a 2-digit number')
j=int(num[0])+int(num[1])
j

enter a 2-digit number 34

7

In [8]:
num=eval(input('enter a number'))
s=str(num)
j=0
for i in range(len(s)):
    j=j+int(s[i])
j

enter a number 1366

16

In [9]:
num=345.643
a=int(num)
d=num-a
print(a,d)

345 0.6429999999999723

In [10]:
for i in range(1,10001):
    if str(i)==str(i)[::-1]:
        print(i)

1
2
3
4
5
6
7
8
9
11
22
33
44
55
66
77
88
99
101
111
121
131
141
151
161
171
181
191
202
212
222
232
242
252
262
272
282
292
303
313
323
333
343
353
363
373
383
393
404
414
424
434
444
454
464
474
484
494
505
515
525
535
545
555
565
575
585
595
606
616
626
636
646
656
666
676
686
696
707
717
727
737
747
757
767
777
787
797
808
818
828
838
848
858
868
878
888
898
909
919
929
939
949
959
969
979
989
999
1001
1111
1221
1331
1441
1551
1661
1771
1881
1991
2002
2112
2222
2332
2442
2552
2662
2772
2882
2992
3003
3113
3223
3333
3443
3553
3663
3773
3883
3993
4004
4114
4224
4334
4444
4554
4664
4774
4884
4994
5005
5115
5225
5335
5445
5555
5665
5775
5885
5995
6006
6116
6226
6336
6446
6556
6666
6776
6886
6996
7007
7117
7227
7337
7447
7557
7667
7777
7887
7997
8008
8118
8228
8338
8448
8558
8668
8778
8888
8998
9009
9119
9229
9339
9449
9559
9669
9779
9889
9999

In [11]:
s='January 1, 1991'
#2010
r=2010-int(s[-4:])
r

19

In [12]:
num=eval(input('enter a num'))
s=str(num)
j=0
for i in range(len(s)):
    j=j+int(s[i])
j

enter a num 1322

8

In [14]:
num=234.2345
i=int(num)
f=num-i
f

0.23449999999999704

In [16]:
x=(6==6)
x

True

In [19]:
s='fghj22kl'
s.isalpha()

False

In [ ]:
n=n+1
n+=1
k=k-3
k-=3
j=j*2
j*=2

In [3]:
L=['sdfffg','dff','dfgfz','dfkjz34','tytre']
n=[i for i in L if len(i)>=5 and i[4]=='z']
n

['dfgfz', 'dfkjz34']

In [6]:
g='$23.60'
r=0.25*float(g[1:])
n='$'+str(r)
n

'$5.9'

In [10]:
for i in range(1,11):
    for j in range(1,11):
        print('{:3d}'.format(i*j), end=' ')
    print()

  1   2   3   4   5   6   7   8   9  10
  2   4   6   8  10  12  14  16  18  20
  3   6   9  12  15  18  21  24  27  30
  4   8  12  16  20  24  28  32  36  40
  5  10  15  20  25  30  35  40  45  50
  6  12  18  24  30  36  42  48  54  60
  7  14  21  28  35  42  49  56  63  70
  8  16  24  32  40  48  56  64  72  80
  9  18  27  36  45  54  63  72  81  90
 10  20  30  40  50  60  70  80  90 100

In [ ]:
all the integer
solutions (x, y) to the system 2x + 3y = 4, x − y = 7, where x and y are both between -50 and 50

In [11]:
for x in range(-50,51):
    for y in range(-50,51):
        if ((2*x)+(3*y)==4) and (x-y==7):
            print(x,y)

5 -2

In [1]:
s='$23.60'

n=float(s[1:])*0.25
p='$'+str(n)
p

'$5.9'

In [4]:
for i in range(1,11):
    for j in range(1,11):
        print('{:3d}'.format(i*j),end=' ')
    print()

  1   2   3   4   5   6   7   8   9  10
  2   4   6   8  10  12  14  16  18  20
  3   6   9  12  15  18  21  24  27  30
  4   8  12  16  20  24  28  32  36  40
  5  10  15  20  25  30  35  40  45  50
  6  12  18  24  30  36  42  48  54  60
  7  14  21  28  35  42  49  56  63  70
  8  16  24  32  40  48  56  64  72  80
  9  18  27  36  45  54  63  72  81  90
 10  20  30  40  50  60  70  80  90 100

In [11]:
for x in range(-50,51):
    for y in range(-50,51):
        if 2*x + 3*y == 4 and x-y == 7:
            print(x,y)

5 -2

In [19]:
for x in range(1,100):
    for y in range (x,100):
        for z in range(y,100):
            if x**2 + y**2 == z**2:
                for i in range(2,x):
                    if x%i==0 and y%i==0 and z%i==0:
                        break
                else:
                    print(x,y,z)

3 4 5
5 12 13
7 24 25
8 15 17
9 40 41
11 60 61
12 35 37
13 84 85
16 63 65
20 21 29
28 45 53
33 56 65
36 77 85
39 80 89
48 55 73
65 72 97

In [24]:
s='python'
''.join([s[i]*(i+1) for i in range(len(s))])

'pyyttthhhhooooonnnnnn'

In [26]:
L=[]
i=3
while i<100:
    L.append(i)
    i=i+3
L

[3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [29]:
L=[1,6,2,9,3]
L.sort()
L

[1, 2, 3, 6, 9]

In [38]:
s=input('enter a string')
L=list(s)
K=[]
M=[]
for i in range(len(L)):
    M.append(ord(L[i]))
M.sort()
for j in range(len(M)):
    K.append(chr(M[j]))
f=''.join(K)
f

enter a string elhama

'aaehlm'

In [41]:
L=['p','a','b','o','e']
G=[10,14,45,20,13]
for i in range(5):
    print(L[i], '$',G[i]*0.89, end=' ')
    print()

p $ 8.9
a $ 12.46
b $ 40.05
o $ 17.8
e $ 11.57

In [7]:
flag=0
L=['ahmad','123','thjm']
K=['ygf','67','sdf','123','hmad']
T=[]
for i in range(len(L)):
    for j in range(len(K)):
        if L[i]==K[j]:
            flag=1
            T.append(L[i])
if flag==0:
    print('Nothing')
if flag==1:
    print('yes',T)

yes ['123']

In [11]:
L=[]
for i in range(1,101):
    L.append('1'*i)
L

['1',
 '11',
 '111',
 '1111',
 '11111',
 '111111',
 '1111111',
 '11111111',
 '111111111',
 '1111111111',
 '11111111111',
 '111111111111',
 '1111111111111',
 '11111111111111',
 '111111111111111',
 '1111111111111111',
 '11111111111111111',
 '111111111111111111',
 '1111111111111111111',
 '11111111111111111111',
 '111111111111111111111',
 '1111111111111111111111',
 '11111111111111111111111',
 '111111111111111111111111',
 '1111111111111111111111111',
 '11111111111111111111111111',
 '111111111111111111111111111',
 '1111111111111111111111111111',
 '11111111111111111111111111111',
 '111111111111111111111111111111',
 '1111111111111111111111111111111',
 '11111111111111111111111111111111',
 '111111111111111111111111111111111',
 '1111111111111111111111111111111111',
 '11111111111111111111111111111111111',
 '111111111111111111111111111111111111',
 '1111111111111111111111111111111111111',
 '11111111111111111111111111111111111111',
 '111111111111111111111111111111111111111',
 '1111111111111111111111111111111111111111',
 '11111111111111111111111111111111111111111',
 '111111111111111111111111111111111111111111',
 '1111111111111111111111111111111111111111111',
 '11111111111111111111111111111111111111111111',
 '111111111111111111111111111111111111111111111',
 '1111111111111111111111111111111111111111111111',
 '11111111111111111111111111111111111111111111111',
 '111111111111111111111111111111111111111111111111',
 '1111111111111111111111111111111111111111111111111',
 '11111111111111111111111111111111111111111111111111',
 '111111111111111111111111111111111111111111111111111',
 '1111111111111111111111111111111111111111111111111111',
 '11111111111111111111111111111111111111111111111111111',
 '111111111111111111111111111111111111111111111111111111',
 '1111111111111111111111111111111111111111111111111111111',
 '11111111111111111111111111111111111111111111111111111111',
 '111111111111111111111111111111111111111111111111111111111',
 '1111111111111111111111111111111111111111111111111111111111',
 '11111111111111111111111111111111111111111111111111111111111',
 '111111111111111111111111111111111111111111111111111111111111',
 '1111111111111111111111111111111111111111111111111111111111111',
 '11111111111111111111111111111111111111111111111111111111111111',
 '111111111111111111111111111111111111111111111111111111111111111',
 '1111111111111111111111111111111111111111111111111111111111111111',
 '11111111111111111111111111111111111111111111111111111111111111111',
 '111111111111111111111111111111111111111111111111111111111111111111',
 '1111111111111111111111111111111111111111111111111111111111111111111',
 '11111111111111111111111111111111111111111111111111111111111111111111',
 '111111111111111111111111111111111111111111111111111111111111111111111',
 '1111111111111111111111111111111111111111111111111111111111111111111111',
 '11111111111111111111111111111111111111111111111111111111111111111111111',
 '111111111111111111111111111111111111111111111111111111111111111111111111',
 '1111111111111111111111111111111111111111111111111111111111111111111111111',
 '11111111111111111111111111111111111111111111111111111111111111111111111111',
 '111111111111111111111111111111111111111111111111111111111111111111111111111',
 '1111111111111111111111111111111111111111111111111111111111111111111111111111',
 '11111111111111111111111111111111111111111111111111111111111111111111111111111',
 '111111111111111111111111111111111111111111111111111111111111111111111111111111',
 '1111111111111111111111111111111111111111111111111111111111111111111111111111111',
 '11111111111111111111111111111111111111111111111111111111111111111111111111111111',
 '111111111111111111111111111111111111111111111111111111111111111111111111111111111',
 '1111111111111111111111111111111111111111111111111111111111111111111111111111111111',
 '11111111111111111111111111111111111111111111111111111111111111111111111111111111111',
 '111111111111111111111111111111111111111111111111111111111111111111111111111111111111',
 '1111111111111111111111111111111111111111111111111111111111111111111111111111111111111',
 '11111111111111111111111111111111111111111111111111111111111111111111111111111111111111',
 '111111111111111111111111111111111111111111111111111111111111111111111111111111111111111',
 '1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111',
 '11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111',
 '111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111',
 '1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111',
 '11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111',
 '111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111',
 '1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111',
 '11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111',
 '111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111',
 '1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111',
 '11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111',
 '111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111',
 '1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111']

In [10]:
s='1'*3
s

'111'

In [10]:
for i in range(1,1001):
    if i%7==0 and str(i)[-1]=='6':
        print(i)

56
126
196
266
336
406
476
546
616
686
756
826
896
966

In [13]:
count=0
L=[]
for i in range(1,10001):
    if '3' in str(i):
        count=count+1
        L.append(i)
print(count)

3439

In [24]:
suits = ['Hearts', 'Diamonds', 'Clubs', 'Spades']
values = ['One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine', 'Ten', 'Jack', 'Queen', 'King', 'Ace']
L=[]
for i in range(len(values)):
    for j in range(len(suits)):
        L.append(values[i]+' of '+ suits[j])
L

['One of Hearts',
 'One of Diamonds',
 'One of Clubs',
 'One of Spades',
 'Two of Hearts',
 'Two of Diamonds',
 'Two of Clubs',
 'Two of Spades',
 'Three of Hearts',
 'Three of Diamonds',
 'Three of Clubs',
 'Three of Spades',
 'Four of Hearts',
 'Four of Diamonds',
 'Four of Clubs',
 'Four of Spades',
 'Five of Hearts',
 'Five of Diamonds',
 'Five of Clubs',
 'Five of Spades',
 'Six of Hearts',
 'Six of Diamonds',
 'Six of Clubs',
 'Six of Spades',
 'Seven of Hearts',
 'Seven of Diamonds',
 'Seven of Clubs',
 'Seven of Spades',
 'Eight of Hearts',
 'Eight of Diamonds',
 'Eight of Clubs',
 'Eight of Spades',
 'Nine of Hearts',
 'Nine of Diamonds',
 'Nine of Clubs',
 'Nine of Spades',
 'Ten of Hearts',
 'Ten of Diamonds',
 'Ten of Clubs',
 'Ten of Spades',
 'Jack of Hearts',
 'Jack of Diamonds',
 'Jack of Clubs',
 'Jack of Spades',
 'Queen of Hearts',
 'Queen of Diamonds',
 'Queen of Clubs',
 'Queen of Spades',
 'King of Hearts',
 'King of Diamonds',
 'King of Clubs',
 'King of Spades',
 'Ace of Hearts',
 'Ace of Diamonds',
 'Ace of Clubs',
 'Ace of Spades']

In [3]:
L=[]
for s in range(10,100):
    m=int(str(s)[::-1])
    if int(str(s)[::-1]) in range(10,100):
        count=1
        while count<21:
            n=s+int(str(s)[::-1])
            if str(n)==str(n)[::-1]:
                L.append([s,n])
                break
            else:
                count=count+1
                s=n
L

[[11, 22],
 [12, 33],
 [13, 44],
 [14, 55],
 [15, 66],
 [16, 77],
 [17, 88],
 [18, 99],
 [110, 121],
 [21, 33],
 [22, 44],
 [23, 55],
 [24, 66],
 [25, 77],
 [26, 88],
 [27, 99],
 [110, 121],
 [29, 121],
 [31, 44],
 [32, 55],
 [33, 66],
 [34, 77],
 [35, 88],
 [36, 99],
 [110, 121],
 [38, 121],
 [132, 363],
 [41, 55],
 [42, 66],
 [43, 77],
 [44, 88],
 [45, 99],
 [110, 121],
 [47, 121],
 [132, 363],
 [143, 484],
 [51, 66],
 [52, 77],
 [53, 88],
 [54, 99],
 [110, 121],
 [56, 121],
 [132, 363],
 [143, 484],
 [605, 1111],
 [61, 77],
 [62, 88],
 [63, 99],
 [110, 121],
 [65, 121],
 [132, 363],
 [143, 484],
 [605, 1111],
 [1353, 4884],
 [71, 88],
 [72, 99],
 [110, 121],
 [74, 121],
 [132, 363],
 [143, 484],
 [605, 1111],
 [1353, 4884],
 [14003, 44044],
 [81, 99],
 [110, 121],
 [83, 121],
 [132, 363],
 [143, 484],
 [605, 1111],
 [1353, 4884],
 [14003, 44044],
 [110, 121],
 [92, 121],
 [132, 363],
 [143, 484],
 [605, 1111],
 [1353, 4884],
 [14003, 44044],
 [40293, 79497]]

In [3]:
s=21
int(str(s)[::-1])

12

In [41]:
L=[]
N=[]
for s in range(10,100):
    if int(str(s)[::-1]) in range(10,100):
        count=1
        while count<21:
            n=s+int(str(s)[::-1])
            if str(n)==str(n)[::-1]:
                L.append([s,int(str(s)[::-1]),n])
                break
            else:
                count=count+1
                s=n
for i in range(len(L)):
    if L[i] not in N:
        N.append(L[i])
print(N,len(N))

[[11, 11, 22], [12, 21, 33], [13, 31, 44], [14, 41, 55], [15, 51, 66], [16, 61, 77], [17, 71, 88], [18, 81, 99], [110, 11, 121], [21, 12, 33], [22, 22, 44], [23, 32, 55], [24, 42, 66], [25, 52, 77], [26, 62, 88], [27, 72, 99], [29, 92, 121], [31, 13, 44], [32, 23, 55], [33, 33, 66], [34, 43, 77], [35, 53, 88], [36, 63, 99], [38, 83, 121], [132, 231, 363], [41, 14, 55], [42, 24, 66], [43, 34, 77], [44, 44, 88], [45, 54, 99], [47, 74, 121], [143, 341, 484], [51, 15, 66], [52, 25, 77], [53, 35, 88], [54, 45, 99], [56, 65, 121], [605, 506, 1111], [61, 16, 77], [62, 26, 88], [63, 36, 99], [65, 56, 121], [1353, 3531, 4884], [71, 17, 88], [72, 27, 99], [74, 47, 121], [14003, 30041, 44044], [81, 18, 99], [83, 38, 121], [92, 29, 121], [40293, 39204, 79497]] 51

In [42]:
m=len(N)
j=0
while j<m:
    k=j+1
    while k<m:
        if N[j][0]==N[k][1] and N[j][1]==N[k][0]:
            N=N[:k]+N[k+1:]
            m=len(N)
        k=k+1       
    j=j+1
print(N,len(N))

[[11, 11, 22], [12, 21, 33], [13, 31, 44], [14, 41, 55], [15, 51, 66], [16, 61, 77], [17, 71, 88], [18, 81, 99], [110, 11, 121], [22, 22, 44], [23, 32, 55], [24, 42, 66], [25, 52, 77], [26, 62, 88], [27, 72, 99], [29, 92, 121], [33, 33, 66], [34, 43, 77], [35, 53, 88], [36, 63, 99], [38, 83, 121], [132, 231, 363], [44, 44, 88], [45, 54, 99], [47, 74, 121], [143, 341, 484], [56, 65, 121], [605, 506, 1111], [1353, 3531, 4884], [14003, 30041, 44044], [40293, 39204, 79497]] 31

In [39]:
N=[[5,6],[1,2],[3,4],[2,1],[5,9],[4,3]]
m=len(N)
j=0
while j<m:
    k=j+1
    while k<m:
        if N[j][0]==N[k][1] and N[j][1]==N[k][0]:
            N=N[:k]+N[k+1:]
            m=len(N)
        k=k+1       
    j=j+1
print(N)

[[5, 6], [1, 2], [3, 4], [5, 9]]

In [13]:
N=[[1,2],[3,4],[5,6],[2,1],[5,9]]
N[2][0]

5

In [1]:
n=10
while n<10001:
    m=1
    j=0
    s=str(n)
    for i in range(len(s)):
        m=m*int(s[i])
        j=j+int(s[i])
    if m+j==n:
        print(n)
    n=n+1

19
29
39
49
59
69
79
89
99

In [1]:
L=[]
M=[]
for n in range (99999,999999):
    if str(n)==str(n)[::-1]:
        L.append(n)
L.sort()
for i in range(len(L)-1):
    if L[i+1]-L[i]<20:
        M.append([L[i+1],L[i]])
M

[[100001, 99999],
 [200002, 199991],
 [300003, 299992],
 [400004, 399993],
 [500005, 499994],
 [600006, 599995],
 [700007, 699996],
 [800008, 799997],
 [900009, 899998]]

In [13]:
L=[]
for n in range(1,100000):
    flag=1
    s=str(n)
    if s[-1]!=0:
        for i in range(int(len(s)/2)+1):
            if s[i] in ['2','3','4','5','7']:
                flag=0
                break
            else:
                if s[i]=='6':
                    if s[-(i+1)]!='9':
                        flag=0
                        break
                elif s[i]=='8':
                    if s[-(i+1)]!='8':
                        flag=0
                        break
                elif s[i]=='9':
                    if s[-(i+1)]!='6':
                        flag=0
                        break
                elif s[i]=='1':
                    if s[-(i+1)]!='1':
                        flag=0
                        break   
                elif s[i]=='0':
                    if s[-(i+1)]!='0':
                        flag=0
                        break
    if flag==1:
        L.append(n)
print(L)
print(len(L))

[1, 8, 11, 69, 88, 96, 101, 111, 181, 609, 619, 689, 808, 818, 888, 906, 916, 986, 1001, 1111, 1691, 1881, 1961, 6009, 6119, 6699, 6889, 6969, 8008, 8118, 8698, 8888, 8968, 9006, 9116, 9696, 9886, 9966, 10001, 10101, 10801, 11011, 11111, 11811, 16091, 16191, 16891, 18081, 18181, 18881, 19061, 19161, 19861, 60009, 60109, 60809, 61019, 61119, 61819, 66099, 66199, 66899, 68089, 68189, 68889, 69069, 69169, 69869, 80008, 80108, 80808, 81018, 81118, 81818, 86098, 86198, 86898, 88088, 88188, 88888, 89068, 89168, 89868, 90006, 90106, 90806, 91016, 91116, 91816, 96096, 96196, 96896, 98086, 98186, 98886, 99066, 99166, 99866]
98

In [47]:
n=10
while (int(str(n)[1:]+str(n)[0])/n)!=3.5:
    n=n+1
print(n)

153846

In [44]:
n=5678
int(str(n)[1:]+str(n)[0])
#int(str(n)[-1]+str(n)[:len(str(n))-1])

6785

In [5]:
count2=0
count5=0
count0=0
for n in range(1,1001):
    if int(str(n)[-1])%2==0:
        count2=count2+1
    if str(n)[-1]=='5':
        count5=count5+1
    if str(n)[-1]=='0':
        if str(n)[-2]=='0' and str(n)[-3]=='0':
            count0=count0+3
        if str(n)[-2]=='0' and str(n)[-3]!='0':
            count0=count0+2
        if str(n)[-2]!='0':
            count0=count0+1
        if str(n)[-2]!='5':
            count5=count5+1
            
m=min(count2,count5)
count0=count0+m
print(count2,count5,count0)

500 190 301

In [39]:
n=factorial(1000)
count0=0
for i in range(1,len(str(n))):
    if str(n)[-i]=='0':
        count0=count0+1
    if str(n)[-i]!='0':
        break
    
count0

249

In [40]:
n=factorial(1000)
count0=0
i=1
while str(n)[-i]=='0':
        count0=count0+1
        i=i+1

count0

249

In [34]:
factorial(100)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [36]:
s='000000000000000000000000'
len(s)

24

In [5]:
#4.75 feet should become 4 feet, 9 inches.
n=eval(input('enter a num in feet'))
s=int(n)
print(s,'feet,',(n-s)*12, 'inches')

enter a num in feet 4.75

4 feet, 9.0 inches

In [5]:
#Pyyttthhhhooooonnnnnn
s='python'
l=''.join([s[i]*(i+1) for i in range (len(s))])
l

'pyyttthhhhooooonnnnnn'

In [8]:
count=0
for s in range (1,10001):
    if '3' in str(s):
        count=count+1
count

3439

In [16]:
s='e'
count4=0
count5=0
count6=0
count7=0
while s.lower()!='done':
    s=input('enter a height in foot and inch')
    if s.lower()=='done':
        print('finished!')
        break
    else:
        l=s.split("'")
        m=l[0]
        if int(m)==4:
            count4=count4+1
        elif int(m)==5:
            count5=count5+1
        elif int(m)==6:
            count6=count6+1
        elif int(m)==7:
            count7=count7+1
print(count4,'4 footers',count5,'5 footers', count6, '6footers', count7,'7 footers')

enter a height in foot and inch 5'6"
enter a height in foot and inch 4'9"
enter a height in foot and inch 2'9"
enter a height in foot and inch 1'9"
enter a height in foot and inch Done

finished!
1 4 footers 1 5 footers 0 6footers 0 7 footers

In [9]:
s="sdfg'sdfg"
l=s.split("'")
l[0]

'sdfg'

In [22]:
s='e'
L=[]
H=[]
while s.lower()!='done':
    s=input('enter the winner and loser scores')
    if s.lower()=='done':
        print('finished')
        break
    else:
        H.append(int(s.split('-')[0]))
        L.append(int(s.split('-')[1]))
print(H,L,max(H),min(L))

enter the winner and loser scores 27-3
enter the winner and loser scores 14-2
enter the winner and loser scores 31-8
enter the winner and loser scores done

finished
[27, 14, 31] [3, 2, 8] 31 2

In [44]:
s=input('enter the date')
countm=0
countd=0
while s.lower()!='done':
    m=s.split('/')[0]
    d=s.split('/')[1]
    if int(m)==2:
        countm=countm+1
    if int(d)==25:
        countd=countd+1
    s=input('enter the date')
print(countm,countd)

enter the date 12/25
enter the date 2/25
enter the date 2/7
enter the date 1/25
enter the date DOne

2 3

In [31]:
s='12/25'
d=s.split('/')[1]
int(d)

25

In [52]:
#February 4, 1977
M=['January','February','March','April','May','June','July','August','September','October','November','December']
MA=[1,2,3,4,5,6,7,8,9,10,11,12]
s=input('enter the date in this format: mm/dd/yy')
L=s.split('/')
for i in range(len(MA)):
    if int(L[0])==MA[i]:
        if int(L[2])<21:
            print(M[i] , int(L[1]),',', 2000+int((L)[2]) )
        if int(L[2])>=21:
            print(M[i] , int(L[1]), ',', 1900+int(L[2]))

enter the date in this format: mm/dd/yy 02/04/77

February 4 , 1977

In [54]:
s=input('enter the fraction in this format: a/b')
L=s.split('/')
r=int(L[0])/int(L[1])
r

enter the fraction in this format: a/b 8/24

0.3333333333333333

In [66]:
#F=['Star','Mango','threeO']
for x in range(100):
    for y in range(100):
        for z in range(100):
            if ((x*5)+(y*3)+(z*1/3))==100 and (x+y+z)==100:
                print('Star is:',x, 'Mango is:',y, 'threeO is:',z)

Star is: 0 Mango is: 25 threeO is: 75
Star is: 4 Mango is: 18 threeO is: 78
Star is: 8 Mango is: 11 threeO is: 81
Star is: 12 Mango is: 4 threeO is: 84

In [ ]:
L=[]
flag=0
for i in range(100):
    for x in range((100//7)+1):
        for y in range((100//11)+1):
            if x*7+y*11==i:
                flag=1
                break

In [67]:
100//7

14

In [86]:
L=[]
i=1
while i<100:
    flag=0
    for x in range((100//7)+1):
        for y in range((100//11)+1):
            if x*7+y*11==i:
                flag=1
                break
    if flag==0:
        L.append(i)
    i=i+1
L.sort()
print(L,max(L))

[1, 2, 3, 4, 5, 6, 8, 9, 10, 12, 13, 15, 16, 17, 19, 20, 23, 24, 26, 27, 30, 31, 34, 37, 38, 41, 45, 48, 52, 59] 59

In [82]:
#43 + 57 = 207
n1='43'
n2='57'
r='207'
for x1 in max(0,int(n1[0])-1),int(n1[0])+1:
    for x2 in max(0,int(n1[1])-1),int(n1[1])+1:
        for x3 in max(0,int(n2[0])-1),int(n2[0])+1:
            for x4 in max(0,int(n2[1])-1),int(n2[1])+1:
                for x5 in max(0,int(r[0])-1),int(r[0])+1:
                    for x6 in max(0,int(r[1])-1),int(r[1])+1:
                        for x7 in max(0,int(r[2])-1),int(r[2])+1:
                            if (x1*10+x2)+(x3*10+x4)==(x5*100+x6*10+x7):
                                print(x1,x2,x3,x4,x5,x6,x7, 'the equation is:',x1*10+x2,'+',x3*10+x4,'=',x5*100+x6*10+x7)

5 2 6 6 1 1 8 the equation is: 52 + 66 = 118

In [80]:
for i in 1,2:
    print(i)

1
2

In [92]:
#x2 − 2y2 = 1
for x in range(1,101):
    for y in range(1,101):
        if (x**2) - 2*(y**2) ==1:
            print(x, y)

3 2
17 12
99 70

In [9]:
num=eval(input('enter a number'))
flag=0
for x in range(1,1001):
    for y in range(1,1001):
        if x**2 - y**2 == num:
            flag=1
            print(x,y)
if flag==0:
    print('Impossible!')

enter a number 13

7 6

In [14]:
count=[0,0,0,0,0,0,0,0,0,0,0]
L=[]
for x1 in range(1,7):
    for x2 in range(1,7):
        for x3 in range(1,7):
            for x4 in range(1,7):
                for i in range(len(count)):
                    if x1+x2==i+2:
                        count[i]=count[i]+1
                        continue
                    if x1+x3==i+2:
                        count[i]=count[i]+1
                        continue
                    if x1+x4==i+2:
                        count[i]=count[i]+1
                        continue
                    if x2+x3==i+2:
                        count[i]=count[i]+1
                        continue
                    if x2+x4==i+2:
                        count[i]=count[i]+1
                        continue
                    if x3+x4==i+2:
                        count[i]=count[i]+1
                        continue
print(count) 
t=(6*6*6*6)
print(t)
for i in count:
    L.append(i/t)
print(L)

[171, 302, 461, 580, 727, 834, 727, 580, 461, 302, 171]
1296
[0.13194444444444445, 0.2330246913580247, 0.3557098765432099, 0.44753086419753085, 0.5609567901234568, 0.6435185185185185, 0.5609567901234568, 0.44753086419753085, 0.3557098765432099, 0.2330246913580247, 0.13194444444444445]

In [11]:
count=[0,0,0,0,0,0,0,0,0,0,0]
L=[]
for x1 in range(1,7):
    for x2 in range(1,7):
        for x3 in range(1,7):
            for x4 in range(1,7):
                    ##print (x1+x2)
                    count[x1+x2-2]=count[x1+x2-2]+1
                    count[x1+x3-2]=count[x1+x3-2]+1
                    count[x1+x4-2]=count[x1+x4-2]+1
                    count[x3+x2-2]=count[x3+x2-2]+1
                    count[x4+x2-2]=count[x4+x2-2]+1
                    count[x3+x4-2]=count[x3+x4-2]+1
print(count) 
t=(6*6*6*6)
print(t)
for i in count:
    L.append(i/t)
print(L)

[216, 432, 648, 864, 1080, 1296, 1080, 864, 648, 432, 216]
1296
[0.16666666666666666, 0.3333333333333333, 0.5, 0.6666666666666666, 0.8333333333333334, 1.0, 0.8333333333333334, 0.6666666666666666, 0.5, 0.3333333333333333, 0.16666666666666666]

In [10]:
171/1296

0.13194444444444445

In [16]:
#5 x y
#z 6 2
#3 8 k
for x in [1,4,7,9]:
    for y in [1,4,7,9]:
        for z in [1,4,7,9]:
            for k in [1,4,7,9]:
                if 5+(x)+(y)==(z)+6+2==3+8+(k)==5+(z)+3==(x)+6+8==(y)+2+(k)==5+6+(k)==(y)+6+3:
                    print(x,y,z,k)

In [24]:
#5 x y
#z 6 2
#3 8 k
for x in range(1,11):
    for y in range(1,11):
        for z in range(1,11):
            for k in range(1,11):
                if 5+(x)+(y)==(z)+6+2==3+8+(k)==5+(z)+3==(x)+6+8==(y)+2+(k)==5+6+(k)==(y)+6+3:
                    print(x,y,z,k)
#print(x,y,z,k)

4 9 10 7

In [ ]:
0 M 0 M 0   1 M 3 M 1
0 0 M 0 0   1 2 M 2 1
0 0 0 0 0   2 3 2 1 0
M M 0 0 0   M M 2 1 1
0 0 0 M 0 2 2 2 M 1

In [27]:
L= [[0, 'M', 0, 'M', 0],
    [0, 0, 'M', 0, 0],   
    [0, 0, 0, 0, 0],   
    ['M', 'M', 0, 0, 0],   
    [0, 0, 0, 'M', 0]]   
N=[[0 for i in range (5)] for j in range(5)]
for i in range (5):
    for j in range(5):
        if L[i][j]=='M':
            N[i][j]='M'
        if N[i][j]==0:
            count=0
            if 0<=i+1<5 and L[i+1][j]=='M':
                count+=1
            if 0<=i-1<5 and L[i-1][j]=='M':
                count+=1
            if 0<=j+1<5 and L[i][j+1]=='M':
                count+=1   
            if 0<=j-1<5 and L[i][j-1]=='M':
                count+=1
            if 0<=i+1<5 and 0<=j+1<5 and L[i+1][j+1]=='M':
                count+=1
            if 0<=i-1<5 and 0<=j-1<5 and L[i-1][j-1]=='M':
                count+=1
            if 0<=i-1<5 and 0<=j+1<5 and L[i-1][j+1]=='M':
                count+=1
            if 0<=i+1<5 and 0<=j-1<5 and L[i+1][j-1]=='M':
                count+=1
            N[i][j]=count
N

[[1, 'M', 3, 'M', 1],
 [1, 2, 'M', 2, 1],
 [2, 3, 2, 1, 0],
 ['M', 'M', 2, 1, 1],
 [2, 2, 2, 'M', 1]]

In [3]:
N=[[0 for i in range (5)] for j in range(5)]
N

[[0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]

In [57]:
r=eval(input('please tell me the number of rows'))
p=[0 for i in range((2*r)+1)]
l=p[:]
p[r]=1
print(l)
#print(p)
for j in range(r):
    for k in range(len(p)):
        if p[k]!=0:
            l[k-1]=l[k-1]+p[k]
            l[k+1]=l[k+1]+p[k]
    print(l)
    p=l[:]
    l=[0 for i in range((2*r)+1)]

please tell me the number of rows 6

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 1, 0, 2, 0, 1, 0, 0, 0, 0]
[0, 0, 0, 1, 0, 3, 0, 3, 0, 1, 0, 0, 0]
[0, 0, 1, 0, 4, 0, 6, 0, 4, 0, 1, 0, 0]
[0, 1, 0, 5, 0, 10, 0, 10, 0, 5, 0, 1, 0]
[1, 0, 6, 0, 15, 0, 20, 0, 15, 0, 6, 0, 1]

In [2]:
d1=input('enter date 1 within years 1901 and 2099 with format: mm/dd/yyyy as earlier date')
d2=input('enter date 2 within years 1901 and 2099 with format: mm/dd/yyyy as later date')
L1=d1.split('/')
L2=d2.split('/')
Leap=[]
na=0
M=[31,28,31,30,31,30,31,31,30,31,30,31]
ML=[31,29,31,30,31,30,31,31,30,31,30,31]
MA=[1,2,3,4,5,6,7,8,9,10,11,12]
i=1904
while i<=2099:
    Leap.append(i)
    i=i+4
if int(L2[2])>2099 or int(L1[2])>2099 or int(L2[2])<1901 or int(L1[2])<1901 or int(L2[0])>12 or int(L1[0])>12 or int(L2[1])>31 or int(L1[1])>31:
    print('Invalid Dates!!!')
if int(L2[2])==int(L1[2]):
    #calculate the days in the same year
    if int(L2[0])==int(L1[0]):
        na=int(L2[1])-int(L1[1])
    else:
        if int(L2[2]) in Leap:
            for j in range(int(L1[0]),int(L2[0])):
                na=na+ML[j-1]
        else:
            for j in range(int(L1[0]),int(L2[0])):
                na=na+M[j-1]
        na=na-int(L1[1])+int(L2[1])
else:
    #calculate the days before later date to the beginning of its year (year one)
    for i in range (1,int(L2[0])):
        if int(L2[2]) in Leap:
            na=na+ML[i-1]
        else:
            na=na+M[i-1]
    na=na+int(L2[1])
    #calculate the days from earlier date to the next year(year one)
    for i in range(int(L1[0]),13):
        if int(L1[2]) in Leap:
            na=na+ML[i-1]
        else:
            na=na+M[i-1]
    na=na-int(L1[1])
    #calculte the days from year one to year two
    for k in range(int(L1[2])+1,int(L2[2])):
        if k in Leap:
            na=na+366
        else:
            na=na+365
print(na)

enter date 1 within years 1901 and 2099 with format: mm/dd/yyyy as earlier date 8/18/1990
enter date 2 within years 1901 and 2099 with format: mm/dd/yyyy as later date 4/26/2035

16322

In [1]:
from datetime import date

d0 = date(1990, 8, 18)
d1 = date(2035, 4, 26)
delta = d1 - d0
print(delta.days)

16322

In [22]:
randint(1,6)

6

In [10]:
count_Yahtzee=0
count_large_straight=0
N=100000
for i in range(N):
    d1=randint(1,6)
    d2=randint(1,6)
    d3=randint(1,6)
    d4=randint(1,6)
    d5=randint(1,6)
    if d1==d2==d3==d4==d5:
        count_Yahtzee= count_Yahtzee +1
    if (((d1==1 or d2==1 or d3==1 or d4==1 or d5==1) and (d1==2 or d2==2 or d3==2 or d4==2 or d5==2) and (d1==3 or d2==3 or d3==3 or d4==3 or d5==3)
    and (d1==4 or d2==4 or d3==4 or d4==4 or d5==4) and (d1==5 or d2==5 or d3==5 or d4==5 or d5==5))
    or ((d1==2 or d2==2 or d3==2 or d4==2 or d5==2) and (d1==3 or d2==3 or d3==3 or d4==3 or d5==3)
    and (d1==4 or d2==4 or d3==4 or d4==4 or d5==4) and (d1==5 or d2==5 or d3==5 or d4==5 or d5==5) and (d1==6 or d2==6 or d3==6 or d4==6 or d5==6))):
          count_large_straight= count_large_straight +1     
        
r1=count_Yahtzee/N
r2=count_large_straight/N
print('the result of part a is:', r1)
print('the result of part b is:', r2)

the result of part a is: 0.00081
the result of part b is: 0.03006

In [27]:
n=1
count=1
t=2
for i in range(200):
    c=randint(0,1)
    if c==t:
        count=count+1
        
    else:
        n=max(count,n)
        count=1
    t=c
n

10

In [5]:
# the average number of zeros it takes before five heads in a row come up.
#head: 1
n=0
count=0
j=0
L=[]
M=[]
for i in range(100):
    c=randint(0,1)
    M.append(c)
    if c==1:
        count=count+1
        if count==5:
            L.append(j)
            j=0            
    else:
        count=0
        if n==0:
            j=j+1
        else:
            j=1
    n=c          
r=sum(L)
if r!=0:
    print(r/len(L))
print(L)
print(M)
print(r)

1.4
[1, 1, 1, 3, 1]
[0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1]
7

In [11]:
# the average number of coin flips it takes before five heads in a row come up.
#head: 1
j=0
count=0
L=[]
M=[]
for i in range(100):
    c=randint(0,1)
    j=j+1
    M.append(c)
    if c==1:
        count=count+1
        if count==5:
            L.append(j-5)
            j=0
            count=0
    else:
        count=0
r=sum(L)
if r!=0:
    print(r/len(L))
print(L)
print(M)
print(r)

19.25
[22, 29, 22, 4]
[1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0]
77

In [41]:
# head as 1 and tail as 0
#   HHTTH
count=0
L=[]
M=[]
for i in range (100):
    c=randint(0,1)
    M.append(c)
for i in range(len(M)-5):
    count=count+1
    if M[i]==1 and M[i+1]==1 and M[i+2]==0 and M[i+3]==0 and M[i+4]==1:
        L.append(count-1)
        count=-4
r=sum(L)
if r!=0:
    print(r/len(L))
print(L)
print(M)
print(r)

13.0
[0, 26]
[1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1]
26