In [1]:
from string import punctuation 
from random import *
from math import *

In [1]:
d={'A':100, 'B':200}
d['A']

100

In [2]:
d['A']=300

In [3]:
d

{'A': 300, 'B': 200}

In [4]:
d['C']=500

In [5]:
d

{'A': 300, 'B': 200, 'C': 500}

In [6]:
del d['B']

In [7]:
d

{'A': 300, 'C': 500}

In [1]:
d={'dog':'hooo','cat':'miuuu','chiken':'jik'}
word=input('enter a word')
print('the sound is:',d[word])

enter a word cat

the sound is: miuuu

In [4]:
points = {'A':1, 'B':3, 'C':3, 'D':2, 'E':1, 'F':4, 'G':2,
'H':4, 'I':1, 'J':8, 'K':5, 'L':1, 'M':3, 'N':1,
'O':1, 'P':3, 'Q':10, 'R':1, 'S':1, 'T':1, 'U':1,
'V':4, 'W':4, 'X':8, 'Y':4, 'Z':10}
word=input('please enter a word')
word=word.upper()
score=sum([points[c] for c in word])
print(score)

please enter a word elham

10

In [15]:
deck=[{'value':i, 'suit':c} for i in range(2,15) for c in ['spades', 'clubs', 'hearts', 'diamonds']]
shuffle(deck)
print(deck[0]['value'])
print(deck[0]['suit'])

4
hearts

In [ ]:
d
d2=d.copy()

In [16]:
for i in points:
    print(i)

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [17]:
for i in points:
    print(points[i])

1
3
3
2
1
4
2
4
1
8
5
1
3
1
1
3
10
1
1
1
1
4
4
8
4
10

In [25]:
d={'A':1, 'B':2, 'C':3}

In [24]:
list(d)

['A', 'B', 'C']

In [22]:
list(d.values())

[1, 2, 3]

In [23]:
list(d.items())

[('A', 1), ('B', 2), ('C', 3)]

In [26]:
d={'A':100, 'B':200, 'C':100, 'D':300, 'E':400, 'F':100}

In [28]:
[x[0] for x in list(d.items()) if x[1]==100]

['A', 'C', 'F']

In [29]:
[x[1] for x in list(d.items()) if x[0]=='E']

[400]

In [30]:
L=[('A',100), ('B',200)]
dict(L)

{'A': 100, 'B': 200}

In [31]:
words=['Elham','Erfan','Amir','Bahareh','Homa','Heshmat']
d={s:len(s) for s in words}
d

{'Elham': 5, 'Erfan': 5, 'Amir': 4, 'Bahareh': 7, 'Homa': 4, 'Heshmat': 7}

In [ ]:
from string import punctuation
text = open ('romeoandjuliet.txt').read()
text=text.lower()
for c in punctuation:
    text=text.replace(c,'')
words=text.split()
d={}
for i in words:
    if i in d:
        d[i]=d[i]+1
    else:
        d[i]=1
items=list(d.items())
#1
items.sort()
for i in items:
    print(i)
#2
items=[(i[1],i[0]) for i in items]
items.sort()
for i in items:
    print(i)

In [2]:
d={}
p1='2'
while p1!='enough':
    p1=input('enter a product or say enough to finish')
    if p1!='enough':
        p2=eval(input('enter the price'))
        d[p1]=p2
while i!='enough':
    i=input('now, enter a product or say enough to finish')
    if i!='enough':
        if i not in d:
            print('the product is not in the dictionary')
        else:
            print('the price is:',d[i])

enter a product or say enough to finish apple
enter the price 10
enter a product or say enough to finish banana
enter the price 20
enter a product or say enough to finish pen
enter the price 25
enter a product or say enough to finish book
enter the price 18
enter a product or say enough to finish enough
now, enter a product or say enough to finish book

the price is: 18

now, enter a product or say enough to finish pen

the price is: 25

now, enter a product or say enough to finish hat

the product is not in the dictionary

now, enter a product or say enough to finish enough

In [4]:
m=eval(input('enter a dollar amount'))
for j in d:
    if d[j]<m:
        print(j)

enter a dollar amount 20

apple
book

In [10]:
days = {'January':31, 'February':28, 'March':31, 'April':30,
'May':31, 'June':30, 'July':31, 'August':31,
'September':30, 'October':31, 'November':30, 'December':31}
m=input('enter the name of the month')
print(days[m])

enter the name of the month July

31

In [24]:
k=list(days)
k.sort()
k

['April',
 'August',
 'December',
 'February',
 'January',
 'July',
 'June',
 'March',
 'May',
 'November',
 'October',
 'September']

In [25]:
for i in days:
    if days[i]==31:
        print(i)

January
March
May
July
August
October
December

In [45]:
l=list(days.items())
m=[(a[1],a[0]) for a in l]
m.sort()
m

[(28, 'February'),
 (30, 'April'),
 (30, 'June'),
 (30, 'November'),
 (30, 'September'),
 (31, 'August'),
 (31, 'December'),
 (31, 'January'),
 (31, 'July'),
 (31, 'March'),
 (31, 'May'),
 (31, 'October')]

In [47]:
m=input('enter month')
for i in days:
    if m[:3]==i[:3]:
        print(days[i])

enter month Dechjiol

31

In [71]:
d={'eli':123, 'eri':456, 'jav':678, 'iuy':695, 'bar':841}
u=input('enter the username')
if u not in d:
    print('the person is not a valid user of the system')
if u in d:
    p=eval(input('enter the password'))
    if d[u]!=p:
        print('the password is invalid')
    if d[u]==p:
        print('now logged in to the system')

enter the username eli
enter the password 123

now logged in to the system

In [60]:
d['eri']

456

In [77]:
#[wins, losses]
d={}
t_n=1
N=[]
C=[]
while t_n!='enough':
    t_n=input('enter a team name or enter enough to finish')
    if t_n!='enough':
        w=eval(input('enter how many wins'))
        l=eval(input('enter how many loses'))
        d[t_n]=[w,l]
t=input('enter a team name')
if t in d:
    print((d[t][0]/(d[t][0]+d[t][1]))*100)
else:
    print('Invalid team name')
for i in d:
    N.append(d[i][0])
for j in d:
    if d[j][0]>0:
        C.append(j)
print(N)
print(C)

enter a team name or enter enough to finish bb
enter how many wins 1
enter how many loses 2
enter a team name or enter enough to finish gh
enter how many wins 2
enter how many loses 4
enter a team name or enter enough to finish jj
enter how many wins 0
enter how many loses 3
enter a team name or enter enough to finish enough
enter a team name bb

33.33333333333333
[1, 2, 0]
['bb', 'gh']

In [10]:
#team1 score1 - team2 score2
#[wins, losses]
d={}
t=1
M=[]
while t!='enough':
    t=input('enter game scores in a format like team1 score1 - team2 score2')
    if t!='enough':
        l=t.split('-')
        print(l)
        M.append(l[0].split(' '))
        M.append(l[1].split(' '))
        print(M)
        if M[0][0] not in d:
            d[M[0][0]]=[0,0]
        if M[1][1] not in d:
            d[M[1][1]]=[0,0]
        if int(M[0][1])>int(M[1][2]):
            d[M[0][0]][0]=d[M[0][0]][0]+1
            d[M[1][1]][1]=d[M[1][1]][1]+1
        if int(M[1][2])>int(M[0][1]):
            d[M[1][1]][0]=d[M[1][1]][0]+1
            d[M[0][0]][1]=d[M[0][0]][1]+1
        M=[]
        
        
print(d)

enter game scores in a format like team1 score1 - team2 score2 a 3 - i 8

['a 3 ', ' i 8']
[['a', '3', ''], ['', 'i', '8']]

enter game scores in a format like team1 score1 - team2 score2 d 6 - u 6

['d 6 ', ' u 6']
[['d', '6', ''], ['', 'u', '6']]

enter game scores in a format like team1 score1 - team2 score2 a 6 - k 2

['a 6 ', ' k 2']
[['a', '6', ''], ['', 'k', '2']]

enter game scores in a format like team1 score1 - team2 score2 t 2 - k 4

['t 2 ', ' k 4']
[['t', '2', ''], ['', 'k', '4']]

enter game scores in a format like team1 score1 - team2 score2 enough

{'a': [1, 1], 'i': [1, 0], 'd': [0, 0], 'u': [0, 0], 'k': [1, 1], 't': [0, 1]}

In [12]:
#team1 score1 - team2 score2
#[wins, losses]
d={}
t=1
M=[]
while t!='enough':
    t=input('enter game scores in a format like team1 score1 - team2 score2')
    if t!='enough':
        l=t.split(' - ')
        print(l)
        M.append(l[0].split(' '))
        M.append(l[1].split(' '))
        print(M)
        if M[0][0] not in d:
            d[M[0][0]]=[0,0]
        if M[1][0] not in d:
            d[M[1][0]]=[0,0]
        if int(M[0][1])>int(M[1][1]):
            d[M[0][0]][0]=d[M[0][0]][0]+1
            d[M[1][0]][1]=d[M[1][0]][1]+1
        if int(M[1][1])>int(M[0][1]):
            d[M[1][0]][0]=d[M[1][0]][0]+1
            d[M[0][0]][1]=d[M[0][0]][1]+1
        M=[]
        
        
print(d)

enter game scores in a format like team1 score1 - team2 score2 a 5 - h 7

['a 5', 'h 7']
[['a', '5'], ['h', '7']]

enter game scores in a format like team1 score1 - team2 score2 t 6 - i 6

['t 6', 'i 6']
[['t', '6'], ['i', '6']]

enter game scores in a format like team1 score1 - team2 score2 t 2 - o 0

['t 2', 'o 0']
[['t', '2'], ['o', '0']]

enter game scores in a format like team1 score1 - team2 score2 enough

{'a': [0, 1], 'h': [1, 0], 't': [1, 0], 'i': [0, 0], 'o': [0, 1]}

In [28]:
L=[[randint(0,10) for i in range(5)] for j in range(5)]
d={}
for i in range(5):
    for j in range(5):
        if L[i][j] not in d:
            d[L[i][j]]=1
        else:
            d[L[i][j]]=d[L[i][j]]+1
print(L)
print(d)
item=list(d.items())
N=[(u[1],u[0]) for u in item]
N.sort()
print(item)
print(N)
for j in range(1,4):
    print(N[-j][1])

[[5, 7, 8, 4, 3], [10, 6, 9, 7, 1], [3, 2, 6, 3, 5], [0, 1, 4, 7, 8], [5, 8, 5, 3, 5]]
{5: 5, 7: 3, 8: 3, 4: 2, 3: 4, 10: 1, 6: 2, 9: 1, 1: 2, 2: 1, 0: 1}
[(5, 5), (7, 3), (8, 3), (4, 2), (3, 4), (10, 1), (6, 2), (9, 1), (1, 2), (2, 1), (0, 1)]
[(1, 0), (1, 2), (1, 9), (1, 10), (2, 1), (2, 4), (2, 6), (3, 7), (3, 8), (4, 3), (5, 5)]
5
3
8

In [23]:
deck = [{'value': i, 'suit': c} for i in range(2,15) for c in ['spades', 'clubs', 'hearts', 'diamonds']]
player1 = sample(deck,3)
player2 = sample(deck,3)
print(player1)
print(player2)
L_1 = [player1[0]['value'], player1[1]['value'], player1[2]['value']]
L_2 = [player2[0]['value'], player2[1]['value'], player2[2]['value']]
L_1.sort()
L_2.sort()
print(L_1)
print(L_2)
if L_1[2]>L_2[2]:
    print('playe 1 is the winner!')
if L_2[2]>L_1[2]:
    print('playe 2 is the winner!')
if L_1[2]==L_2[2]:
    if L_1[1]>L_2[1]:
        print('playe 1 is the winner!')
    if L_2[1]>L_1[1]:
        print('playe 2 is the winner!')
    if L_1[1]==L_2[1]:
        if L_1[0]>L_2[0]:
            print('playe 1 is the winner!')
        if L_2[0]>L_1[0]:
            print('playe 2 is the winner!')
        if L_1[0]==L_2[0]:
            print('the game is a draw')

[{'value': 6, 'suit': 'spades'}, {'value': 9, 'suit': 'clubs'}, {'value': 7, 'suit': 'diamonds'}]
[{'value': 4, 'suit': 'spades'}, {'value': 10, 'suit': 'clubs'}, {'value': 5, 'suit': 'diamonds'}]
[6, 7, 9]
[4, 5, 10]
playe 2 is the winner!

In [9]:
deck = [{'value': i, 'suit': c} for i in range(2,15) for c in ['spades', 'clubs', 'hearts', 'diamonds']]
s= sample(deck,3)
print(s)
if s[0]['suit'] == s[1]['suit'] == s[2]['suit']:
    print('form a flush!')
if s[0]['value'] == s[1]['value'] == s[2]['value']:
    print('three-of-a-kind!')
if (s[0]['value'] == s[1]['value'] != s[2]['value']) or (s[1]['value'] == s[2]['value'] != s[0]['value']) or (s[0]['value'] == s[2]['value'] != s[1]['value']):
    print('a pair!')
for i in range(2,15):
    if s[0]['value']==i and s[1]['value']==i+1 and s[2]['value']==i+2:
        print('a straight!')

[{'value': 10, 'suit': 'clubs'}, {'value': 3, 'suit': 'clubs'}, {'value': 7, 'suit': 'clubs'}]
form a flush!

In [18]:
# a flush in a five card hand
deck = [{'value': i, 'suit': c} for i in range(2,15) for c in ['spades', 'clubs', 'hearts', 'diamonds']]
count=0
for i in range(10000):
    s= sample(deck,5)
    if s[0]['suit'] == s[1]['suit'] == s[2]['suit'] == s[3]['suit'] == s[4]['suit']:
        count=count+1
print(count/10000)

0.0014

In [8]:
s1=input('enter string 1')
s2=input('enter string 2')
d={}
flag=0
s1=s1.lower()
s2=s2.lower()
for c in punctuation:
    s1=s1.replace(c,'')
    s2=s2.replace(c,'')
for i in range(len(s1)):
    if s1[i]==' ' and s2[i]!=' ':
        flag=1
    elif s2[i]==' ' and s1[i]!=' ':
        flag=1
    elif s1[i]==' ' and s2[i]==' ':
        continue
    elif s1[i]==s2[i]:
        flag=1
        break
    else:
        if s1[i] not in d:
            d[s1[i]]=s2[i]
        if s1[i] in d:
            if d[s1[i]]!=s2[i]:
                flag=1
                break
if flag==0:
    print('YES! cipher!')
else:
    print('NOT cipher!')
print(s1, s2, d)

enter string 1 ryu optpo
enter string 2 eqa kalak

YES! cipher!
ryu optpo eqa kalak {'r': 'e', 'y': 'q', 'u': 'a', 'o': 'k', 'p': 'a', 't': 'l'}

In [3]:
s=input('enter a pattern string')
#'a**a****'
d={}
count=0
#['aabaabac', 'cabaabca', 'aaabbcba', 'aabacbab', 'acababba']
for i in range(len(s)):
    if s[i]!='*':
        d[i]=s[i]
L=eval(input('enter the list of strings'))
for j in L:
    flag=1
    if len(j)==len(s):
        for k in d:
            if d[k]!=j[k]:
                flag=0 
                break
    if flag==1:
        count=count+1
        print(j)  
if count==0:
    print('NO match string!')

print(d)

enter a pattern string a**a****
enter the list of strings ['aabaabac', 'cabaabca', 'aaabbcba', 'aabacbab', 'acababba']

aabaabac
aabacbab
{0: 'a', 3: 'a'}

In [7]:
d=[{'name':'Todd', 'phone':'555-1414', 'email':'todd@mail.net'},
{'name':'Helga', 'phone':'555-1618', 'email':'helga@mail.net'},
{'name':'Princess', 'phone':'555-3141', 'email':''},
{'name':'LJ', 'phone':'555-2718', 'email':'lj@mail.net'}]
users_phone=[]
users_email=[]
for i in d:
    if i['phone'][-1]=='8':
        users_phone.append(i['name'])
    if i['email']=='':
        users_email.append(i['name'])
print(users_phone)
print(users_email)

['Helga', 'LJ']
['Princess']

In [8]:
d={'Eastern': 0, 'Central': -1, 'Mountain': -2, 'Pacific': -3}
#6,5,4,3
Time= input('enter the original time')
zone1= input('enter the original time zone')
zone2= input('enter the second time zone')
Time=Time.replace(':','.')
f=float(Time[:-2])
a=f-int(f)
z=Time[-2:]
j=int(f)+d[zone2]-d[zone1]
if j>13:
    j=j%12
    if z=='am':
        z='pm'
    elif z=='pm':
        z='am'
    print(j+a,z)
elif j<=12:
    print(j+a,z)

enter the original time 11.48pm
enter the original time zone Pacific
enter the second time zone Eastern

2.4800000000000004 am

In [2]:
l=[1,2,3,4,5,6,7,8,9]
l[:-2]

[1, 2, 3, 4, 5, 6, 7]

In [3]:
l[-2:]

[8, 9]

In [10]:
float('3.14')

3.14

In [17]:
int(3.14)

3

In [6]:
floor(11.48)

11

In [13]:
d={'M':1000, 'D':500, 'C':100, 'L':50, 'X':10, 'V':5, 'I':1}
l=list(d.items())
#don’t forget about things like IV being 4 and XL being 40
s='DCXXXVIII'
j=0
for i in range(len(s)-1):
    if d[s[i]]>=d[s[i+1]]:
        j=j+d[s[i]]
    elif d[s[i]]<d[s[i+1]]:
        j=j-d[s[i]]
    print(j)
j=j+d[s[-1]]
print(j)

500
600
610
620
630
635
636
637
638

In [55]:
d={'VD':5000, 'M':1000, 'D':500, 'C':100, 'L':50, 'X':10, 'V':5, 'I':1, 'o':0}
l=list(d.items())
m=[(i[1],i[0]) for i in l]
print(m)
n='3494'
s=''
for k in range(1,len(m)-1):
    if int(n)>= m[k-1][0]-m[k+1][0] and str(m[k-1][0])[0]=='1':
        s=s+m[k+1][1]+m[k-1][1]
        n=str(int(n)-(m[k-1][0]-m[k+1][0]))
        print(n)
    elif int(n)>= m[k-1][0]-m[k][0] and str(m[k-1][0])[0]=='5':
        s=s+m[k][1]+m[k-1][1]
        n=str(int(n)-(m[k-1][0]-m[k][0]))
        print(n)
    else:
        t=int(n)//m[k][0]
        if t>=1:
            s=s+t*(m[k][1])
            n=str(int(n)%m[k][0])
            print(n)
#if int(n) < 4:
 #   s = s + int(n) * 'I'
#else:
 #   s = s + 'IV'
            
print(s)
#DCCCXCIII

[(5000, 'VD'), (1000, 'M'), (500, 'D'), (100, 'C'), (50, 'L'), (10, 'X'), (5, 'V'), (1, 'I'), (0, 'o')]
494
94
4
0
MMMCDXCIV

In [28]:
d={'M':1000, 'D':500, 'C':100, 'L':50, 'X':10, 'V':5, 'I':1}
l=list(d.items())
m=[(i[1],i[0]) for i in l]
print(m)
3*(str(m[2][0])[0])

[(1000, 'M'), (500, 'D'), (100, 'C'), (50, 'L'), (10, 'X'), (5, 'V'), (1, 'I')]

'111'

In [22]:
s='t'
s=s+'k'
s

'tk'