In [41]:
from math import *
from random import *

In [3]:
def print_hello():
    print('HELLO!')

In [5]:
print_hello()
print('1234')
print_hello()

HELLO!
1234
HELLO!

In [6]:
print_hello()

HELLO!

In [9]:
def star_box():
    print('*'*15)
    print('*',' '*11,'*')
    print('*',' '*11,'*')
    print('*'*15)

In [10]:
star_box()

***************
*             *
*             *
***************

In [12]:
def print_hello(n):
    print('HELLO '*n)
    print()
print_hello(3)

HELLO HELLO HELLO

In [15]:
def print_multi (string,n):
    print(string*n)
print_multi('E',3)
print_multi('HI',5)

EEE
HIHIHIHIHI

In [18]:
def convert(t):
    return t*9/5+32
convert(20)

68.0

In [21]:
def sin_deg(x):
    return sin(pi*x/180)
sin_deg(90)

1.0

In [23]:
def solve(a,b,c,d,e,f):
    x=(d*e-b*f)/(a*d-b*c)
    y=(a*f-c*e)/(a*d-b*c)
    return [x,y]
solve(2,3,4,5,6,2)

[-12.0, 10.0]

In [24]:
xsol, ysol = solve(2,3,4,5,6,2)
print('x is:', xsol, 'y is:',ysol)

x is: -12.0 y is: 10.0

In [ ]:
def jadid (string,n,bad_words):
    if string in bad_words:
        return
    print(string*n)
    print()

In [1]:
def str_mul (string,n=1):
    print(string*n)
    print()
str_mul ('A',5)
str_mul ('B')

AAAAA

B

In [ ]:
def fansy_print(text, color, background, style, justify)

In [ ]:
fansy_print(text='HI', background='pink', color='black', justify='right',style='bold')

In [ ]:
def fansy_print(text, background='pink', color='black', justify='right',style='bold')
    # function
fansy_print('HEllO', color='blue', justify='left')

In [2]:
def func1():
    for i in range(10):
        print(i)
def func2():
    i=100
    func1()
    print(i)

In [4]:
func2()

0
1
2
3
4
5
6
7
8
9
100

In [76]:
def reset():
    global time_left
    time_left=0

In [77]:
def print_time():
    print(time_left)

In [82]:
reset()

In [83]:
print_time()

0

In [80]:
time_left=30

In [1]:
def func1(x):
    x=x+1

In [2]:
def func2(L):
    L=L+[4]

In [3]:
a=3
M=[1,2,3]

In [4]:
func1(a)

In [5]:
func2(M)

In [6]:
a

3

In [7]:
M

[1, 2, 3]

In [8]:
def func1(x):
    x=x+1
    return x
def func2(L):
    copy=L[:]
    copy= copy + [1]

In [9]:
b=3
N=[2,3]

In [10]:
func1(b)

4

In [11]:
func2(N)

In [12]:
N

[2, 3]

In [13]:
b

3

In [26]:
def rectangle (m,n):
    for i in range(m):
        print('*'*n,sep='/n')

In [27]:
rectangle(2,4)

****
****

In [34]:
#a
def add_excitement1(L):
    for i in range(len(L)):
        L[i]=L[i]+'!'

In [43]:
#b
def add_excitement2(L):
    K=[]
    for s in L:
        s=s+'!'
        K.append(s) 
    return K

In [44]:
M=['eli','kjh','yfd']
add_excitement1(M)

In [45]:
M

['eli!', 'kjh!', 'yfd!']

In [46]:
M=['eli','kjh','yfd']
add_excitement2(M)

['eli!', 'kjh!', 'yfd!']

In [47]:
M

['eli', 'kjh', 'yfd']

In [54]:
def sum_digits(num):
    t=str(num)
    s=0
    for i in range(len(t)):
        s=s+int(t[i])
    return s

In [56]:
sum_digits(8037)

18

In [58]:
def digital_root(num):
    while num>=10:
        t=str(num)
        s=0
        for i in range(len(t)):
            s+=int(t[i])
        num=s
    return num

In [61]:
digital_root(45893)

2

In [6]:
def first_diff (t1,t2):
    flag=1
    for i in range(min(len(t1),len(t2))):
        s1=t1.lower()
        s2=t2.lower()
        if s1[i]!=s2[i]:
            flag=0
            return i
            break
    if flag==1:
        if len(s1)!=len(s2):
            print(min(len(s1),len(s2)))
        else:
            return -1

In [12]:
first_diff ('AHmad', 'ArdaL')

1

In [79]:
def fact(m):
    i=1
    s=1
    while i<=m:
        s=i*s
        i=i+1
    return s
def binom (n,k):
    return fact(n)/(fact(k)*fact(n-k))

In [80]:
print(fact(5))

120

In [81]:
binom(4,2)

6.0

In [89]:
def rand_num (n):
    x=randint((10**(n-1)),(10**(n)-1))
    return x

In [92]:
rand_num(3)

389

In [37]:
def number_of_factors(n):
    count=0
    for i in range(1,int(n/2)+1):
        if n%i==0:
            count=count+1
    return(count+1)

In [38]:
number_of_factors(8)

4

In [41]:
def factors(n):
    L=[]
    for i in range(1,int(n/2)+1):
        if n%i==0:
            L.append(i)
    L.append(n)
    return(L)

In [42]:
factors(8)

[1, 2, 4, 8]

In [3]:
def closest(L,n):
    dif=1000000
    for i in L:
        if i<n:
            m=n-i
            if m<dif:
                dif=m
                a=i
    return a

In [4]:
closest([1,6,3,9,11],8)

6

In [16]:
def matches(s1,s2):
    s1=s1.lower()
    s2=s2.lower()
    count=0
    for i in range(min(len(s1),len(s2))):
        if s1[i]==s2[i]:
            count=count+1
    return count

In [17]:
matches('python','PATh')

3

In [20]:
def findall(s,c):
    L=[]
    for i in range(len(s)):
        if s[i]==c:
            L.append(i)
    return L

In [21]:
findall('elhamakan','a')

[3, 5, 7]

In [98]:
def change_case(s):
    for i in range(len(s)):
        if ord(s[i])>=ord('a') and ord(s[i])<=ord('z'):
            s=s[:i]+s[i].upper()+s[i+1:]
        elif ord(s[i])>=ord('A') and ord(s[i])<=ord('Z'):
            s=s[:i]+s[i].lower()+s[i+1:]
    return s

In [99]:
change_case('ElHamaKAnEhRAheshGh')

'eLhAMAkaNeHraHESHgH'

In [87]:
ord('Z')

90

In [100]:
change_case('adfghjkjhgfdsasrtyua')

'ADFGHJKJHGFDSASRTYUA'

In [29]:
ord('a')

97

In [111]:
def is_sorted(L):
    M=L[:]
    M.sort()
    flag=1
    for i in range(len(L)):
        if L[i]!=M[i]:
            flag=0
            return False          
    if flag==1:
        return True

In [114]:
is_sorted([1,2,3,11,9])

False

In [105]:
L=[1,2,9,4,5]
M=L.sort()
print(L,M)

[1, 2, 4, 5, 9] None

In [106]:
def root(x,n=2):
    return x**(1/n)

In [55]:
root(25)

5.0

In [115]:
def one_away(s1,s2):
    count=0
    flag=0
    if len(s1)==len(s2):
        for i in range(len(s1)):
            if s1[i].lower()!=s2[i].lower():
                count+=1
        if count==1:
            flag=1
            return True
    return False

In [118]:
one_away('water','waTErfgj')

False

In [146]:
def is_prime(n):
    flag=1
    for i in range(2,int(n/2)+1):
        if n%i==0:
            flag=0
            break
    if flag==1:
        return True

In [147]:
primes(10)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [148]:
def primes(n=100,m=2):
    L=[]
    m=m-1
    count=0
    while count<n:
        m+=1
        flag=1
        if is_prime(m)==True:
            count+=1
            L.append(m)
    return L

In [136]:
primes(10,5)

[5, 7, 11, 13, 17, 19, 23, 29, 31, 37]

In [32]:
def base20 (n):
    N=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
    H=['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T']
    L=[]
    num=n
    while num>=20:
        r=num%20
        num=(num-r)/20
        L.append(int(r))
    L.append(int(num))
    L=L[::-1]
    print(L)
    for i in range(len(L)):
        L[i]=H[L[i]]
    s=''.join(L)
    return s

In [109]:
base20(402)

[1, 0, 2]

'BAC'

In [28]:
def read_num(n):
        N=['1','2','3','4','5','6','7','8','9']
        s=''
        L1=['one','two','three','four','five','six','seven','eight','nine']
        L2=['ten','eleven','twelve','thirteen','fourteen','fifteen','sixteen','seventeen','eighteen','ninteen']
        L3=['twenty','thirty','forty','fifty','sixty','seventy','eighty','ninty']
        s1=' hundred '
        for i in range(len(N)):
            if len(n)==1:
                if n==N[i]:
                    s=L1[i]
        for i in range(len(N)):
            if len(n)>=2 and n[-2]=='1':
                if n[-1]==N[i]:
                    s=L2[i+1]
                    if n[-1]==0:
                        s=L2[0]
        for i in range(len(N)):
            if len(n)>=2 and n[-2]!='1':
                if n[-1]==N[i]:
                    s=L1[i]
        for j in range(len(N)):
            if len(n)>=2 and n[-2]!='1':
                if n[-2]==N[j]:
                    s=L3[j-1]+' '+s
        for j in range(len(N)): 
            if len(n)>=3:
                if n[-3]==N[j]:
                    s=L1[j]+s1+s
        return s
def verbose(x):
    D=[]
    S=[' trillion ', ' bilion ', ' milion ', ' thousand ','']
    num=str(x)
    javab=''
    for i in range(len(num)):
        if len(num)>3:
            D.append(num[-3:])
            num=num[:len(num)-3]
        if len(num)<=3:
            D.append(num[:])
            break
    D=D[::-1]
    S=S[-len(D):]
    for i in range(len(D)):
        javab= javab+ read_num(D[i])+S[i]
        
    return javab

In [31]:
verbose(808055012)

'eight hundred eight milion fifty five thousand twelve'

In [5]:
def merge1 (L1,L2):
    N=L1[:]+L2[:]
    N.sort()
    return N

In [6]:
merge1 ([2,7,5,3,1],[98,65,6])

[1, 2, 3, 5, 6, 7, 65, 98]

In [7]:
merge1 (['a','d','b'],['t','c','u'])

['a', 'b', 'c', 'd', 't', 'u']

In [121]:
def merge2 (L1,L2):
    N=[]
    while len(L1)!=0 and len(L2)!=0:
        if L1[0]<L2[0]:
            N.append(L1[0])
            L1=L1[1:]
        elif L2[0]<L1[0]:
            N.append(L2[0])
            L2=L2[1:]
    if len(L1)!=0:
        N=N+L1
    else:
        N=N+L2
    return N

In [122]:
merge2 (['a','b','dff'],['cfgh','t','u'])

['a', 'b', 'cfgh', 'dff', 't', 'u']

In [123]:
merge2 ([1,2,3,5,70],[6,65,98])

[1, 2, 3, 5, 6, 65, 70, 98]

In [124]:
L1=['a','dff','b']
L2=['t','cfgh','u']
if L1[1]<L2[2]:
    print('y')

y

In [125]:
'a'>'b'

False

In [37]:
def word_valid(w):
    #L=[line.strip() for line in open ('words.txt')]
    L=['time','jkki','cet','eli','prime','prave', 'travel','khpl','afegikolu','iueajk','asdfghjklp','cot','qwertui','zxcvbnm','cit','roror','kik',
       'rat','tar','cut','carefully', 'require', 'ahja','hjiofdhftgdhjio','cat']
    L.sort()
    m=len(L)
    flag=0
    while m>=1:
        if m%2==1:
            c=int((m-1)/2)
        elif m%2==0:
            c=int((m/2))
        if w==L[c]:
            flag=1
            break
        elif w<L[c]:
            L=L[:c]
        elif w>L[c]:
            L=L[c+1:]
        m=len(L)
    if flag==1:
        return True
    else:
        return False

In [39]:
word_valid('tim')

False

In [67]:
def Tic_tac_toe(L):
    M=[]
    for i in range(3):
        for j in range(3):
            if L[i][j]==0:
                M.append([i,j])
    print(M)
    B=choice(M)
    print(B)
    L[B[0]][B[1]]=2
    return L

In [68]:
L=[[randint(0,2) for i in range(3)] for j in range(3)]
print(L)
Tic_tac_toe(L)

[[0, 1, 2], [1, 1, 2], [0, 1, 1]]
[[0, 0], [2, 0]]
[0, 0]

[[2, 1, 2], [1, 1, 2], [0, 1, 1]]

In [73]:
def ttt_win(L):
    flag=0
    print(L)
    for i in range(3):
        if L[i][0]==L[i][1]==L[i][2] and L[i][0]!=0:
            flag=1
            break
        if L[0][i]==L[1][i]==L[2][i] and L[0][i]!=0:
            flag=1
            break
        if L[0][0]==L[1][1]==L[2][2] and L[0][0]!=0:
            flag=1
            break
        if L[0][2]==L[1][1]==L[2][0] and L[0][2]!=0:
            flag=1
            break
    if flag==1:
        return True
    else:
        return False

In [78]:
L=[[randint(0,2) for i in range(3)] for j in range(3)]
ttt_win(L)

[[2, 1, 0], [2, 2, 0], [2, 0, 1]]

True

In [104]:
def Sudoku(L):
    N=[1,2,3,4,5,6,7,8,9]
    for i in range(9):
        M=N[:]
        flag=1
        for j in range(9):
            if L[i][j] in M:
                M.remove(L[i][j])
            elif L[i][j] not in M:
                flag=0
                return False
                break     
    for j in range(9):
        M=N[:] 
        flag=1
        for i in range(9):
            if L[i][j] in M:
                M.remove(L[i][j])
            elif L[i][j] not in M:
                flag=0
                return False
                break
    for k in range(0,8,3):
        for p in range(0,8,3):
            M=N[:] 
            flag=1
            for i in range(2):
                for j in range(2):
                    if L[i+k][j+p] in M:
                        M.remove(L[i+k][j+p])
                    elif L[i+k][j+p] not in M:
                        flag=0
                        return False
                        break
    if flag==1:
        return True

In [106]:
L=[[5,3,4,6,7,8,9,1,2], [6,7,2,1,9,5,3,4,8],[1,9,8,3,4,2,5,6,7], [8,5,9,7,6,1,4,2,3], [4,2,6,8,5,3,7,9,1], [7,1,3,9,2,4,8,5,6], 
   [9,6,1,5,3,7,2,8,4], [2,8,7,4,1,9,6,3,5], [3,4,5,2,8,6,1,7,9]]
Sudoku(L)

True