In [2]:
import math
from math import *

In [2]:
for i in range(3):
    num = eval(input('enter a num'))
    print('the square is: ',num*num)
print('the loop is done')

enter a num 6

the square is:  36

enter a num 3

the square is:  9

enter a num 1

the square is:  1
the loop is done

In [6]:
print('A','B',end=' ')
for i in range (5):
    print('C','D',end=' ')
print('E')

A B C D C D C D C D C D E

In [7]:
print('A')
print('B')
for i in range (5):
    print('C')
    print('D')
print('E')

A
B
C
D
C
D
C
D
C
D
C
D
E

In [8]:
print('A')
print('B')
for i in range (5):
    print('C')
for i in range (5):
    print('D')
print('E')

A
B
C
C
C
C
C
D
D
D
D
D
E

In [9]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [10]:
for i in range (3):
    print(i+1,'--hello')

1 --hello
2 --hello
3 --hello

In [11]:
for i in range (5,0,-1):
    print(i, end=' ')
print('end')

5 4 3 2 1 end

In [12]:
for i in range(4):
    print('*'*6)

******
******
******
******

In [15]:
for i in range (4):
    print('*'*(i+1))

*
**
***
****

In [16]:
for i in range (100):
    print('Elham', end=' ')

Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham Elham

In [17]:
for i in range (1,101):
    print(i,'Elham')

1 Elham
2 Elham
3 Elham
4 Elham
5 Elham
6 Elham
7 Elham
8 Elham
9 Elham
10 Elham
11 Elham
12 Elham
13 Elham
14 Elham
15 Elham
16 Elham
17 Elham
18 Elham
19 Elham
20 Elham
21 Elham
22 Elham
23 Elham
24 Elham
25 Elham
26 Elham
27 Elham
28 Elham
29 Elham
30 Elham
31 Elham
32 Elham
33 Elham
34 Elham
35 Elham
36 Elham
37 Elham
38 Elham
39 Elham
40 Elham
41 Elham
42 Elham
43 Elham
44 Elham
45 Elham
46 Elham
47 Elham
48 Elham
49 Elham
50 Elham
51 Elham
52 Elham
53 Elham
54 Elham
55 Elham
56 Elham
57 Elham
58 Elham
59 Elham
60 Elham
61 Elham
62 Elham
63 Elham
64 Elham
65 Elham
66 Elham
67 Elham
68 Elham
69 Elham
70 Elham
71 Elham
72 Elham
73 Elham
74 Elham
75 Elham
76 Elham
77 Elham
78 Elham
79 Elham
80 Elham
81 Elham
82 Elham
83 Elham
84 Elham
85 Elham
86 Elham
87 Elham
88 Elham
89 Elham
90 Elham
91 Elham
92 Elham
93 Elham
94 Elham
95 Elham
96 Elham
97 Elham
98 Elham
99 Elham
100 Elham

In [19]:
for i in range (1,21):
    print(i, '---',i**2)

1 --- 1
2 --- 4
3 --- 9
4 --- 16
5 --- 25
6 --- 36
7 --- 49
8 --- 64
9 --- 81
10 --- 100
11 --- 121
12 --- 144
13 --- 169
14 --- 196
15 --- 225
16 --- 256
17 --- 289
18 --- 324
19 --- 361
20 --- 400

In [21]:
for i in range (8,90,3):
    print(i, end= ' ')

8 11 14 17 20 23 26 29 32 35 38 41 44 47 50 53 56 59 62 65 68 71 74 77 80 83 86 89

In [23]:
for i in range (100,1,-2):
    print(i, end = ' ')

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [27]:
for i in range (10):
    print ("A", end= '')
for i in range (7):
    print('B', end= '')
for i in range (4):
    print('CD', end= '')
print('E',end = '')
for i in range (6):
    print('F', end= '')
print('G')

AAAAAAAAAABBBBBBBCDCDCDCDEFFFFFFG

In [32]:
name = input('what is your name?')
times = eval(input('how many times?'))
print(name*times)

what is your name? Eli
how many times? 5

EliEliEliEliEli

In [34]:
HM = eval(input('how many numbers?'))
i=1
j=1
for m in range (HM):
    k=i+j
    print(i, end= ' ')
    i=j
    j=k

how many numbers? 10

1 1 2 3 5 8 13 21 34 55

In [1]:
high = eval(input('enter the high'))
wide = eval(input('enter the wide'))
for i in range (high):
    print('*'*wide)

enter the high 4
enter the wide 15

***************
***************
***************
***************

In [3]:
high = eval(input('enter the high'))
wide = eval(input('enter the wide'))
print ('*'*wide)
for i in range (high-2):
    print('*',' '*(wide-2),'*',sep='')
print('*'*wide)

enter the high 4
enter the wide 25

*************************
*                       *
*                       *
*************************

In [4]:
high = eval(input('enter the high'))
for i in range (high):
    print('*'*(i+1))

enter the high 4

*
**
***
****

In [5]:
high = eval(input('enter the high'))
for i in range (high):
    print('*'*(high-i))

enter the high 4

****
***
**
*

In [16]:
high = eval(input('enter the high'))
for i in range (high):
    print(' '*(high-(i+1)),'*'*((2*i)+1), sep='')
for i in range (high-1):
    print(' '*(i+1),'*'*(2*(high-1-i)-1), sep='')

enter the high 4

   *
  ***
 *****
*******
 *****
  ***
   *

In [20]:
high = eval(input('enter an odd number as high'))
print(' '*(high-1),'*',sep='')
for i in range (1,floor(high/2)):
    print(' '*(high-1-i),'*',' '*((2*i)-1),'*',sep='')
for i in range (floor(high/2),(floor(high/2))+1):
    print(' '*(high-1-i),'*','*'*((2*i)-1),'*',sep='')
for i in range (ceil(high/2),high):
    print(' '*(high-1-i),'*',' '*((2*i)-1),'*',sep='')

enter an odd number as high 9

        *
       * *
      *   *
     *     *
    *********
   *         *
  *           *
 *             *
*               *