In [10]:
from random import randint

In [43]:
import math
from math import *

In [3]:
x=randint(1,10)
print('a random number between 1 and 10 is:',x)

a random number between 1 and 10 is: 5

In [14]:
print('the pi is:',pi)
print('sin0 is:',sin(0))

the pi is: 3.141592653589793
sin0 is: 0.0

In [15]:
abs(-5.4)

5.4

In [16]:
round(65.5678,2)

65.57

In [17]:
round(7678.345,-2)

7700.0

In [18]:
help(math.floor)

Help on built-in function floor in module math:

floor(x, /)
    Return the floor of x as an Integral.

    This is the largest integer <= x.

In [19]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [21]:
s=0
for n in range(1,10001):
    s=s+1/(n**2)
s

1.6448340718480652

In [24]:
factorial(10)

3628800

In [29]:
for i in range(50):
    print(randint(3,6),end=' ')

6 5 3 5 5 3 3 3 3 3 3 5 5 6 5 6 4 5 5 6 5 5 5 4 6 4 4 5 6 4 5 5 6 3 5 5 6 3 5 3 4 5 6 3 4 6 4 3 6 5

In [32]:
x = randint(1,50)
y = randint(2,5)
print('x, y and x power y are:',x,y,x**y)

x, y and x power y are: 5 4 625

In [38]:
x = randint(1,10)
print(x,'Elham'*x)

3 ElhamElhamElham

In [53]:
x = random.uniform(1,10)
round(x,2)

5.52

In [54]:
for i in range (0,50):
    print(randint(1,(i+2)))

1
2
2
5
6
4
5
6
4
3
2
8
5
5
5
10
5
14
19
8
14
20
10
8
12
10
13
24
23
7
22
10
11
19
25
37
26
9
27
10
11
28
36
38
35
3
37
42
19
41

In [57]:
x = eval(input('enter number1'))
y = eval(input('enter number2')) 
print('the result is:', (abs(x-y))/(x+y))

enter number1 2
enter number2 3

the result is: 0.2

In [58]:
a = eval(input('enter an angle'))
print('the angle is equivalent to:', a+180)

enter an angle -20

the angle is equivalent to: 160

In [60]:
x = eval(input('enter a number of seconds'))
min = x//60
se = x%60
print('min and sec are:', min, se)

enter a number of seconds 200

min and sec are: 3 20

In [62]:
x = eval(input('enter a number between 1 and 12'))
y = eval(input('how many hours ahead?'))
print('new hour is:', (x+y)%12)

enter a number between 1 and 12 8
how many hours ahead? 5

new hour is: 1

In [65]:
x = eval(input('enter a power'))
y = 2**x
print('last_digit =',y%10)

enter a power 4

last_digit = 6

In [66]:
x = eval(input('enter a power'))
y = 2**x
print('last_digit =',y%100)

enter a power 10

last_digit = 24

In [68]:
d = eval(input('how many digits?'))
x = eval(input('enter a power'))
y = 2**x
print('last d digit is=',y%(10**d))

how many digits? 3
enter a power 9

last d digit is= 512

In [69]:
w = eval(input('weight in kg?'))
print('the weight in pound is:',round((2.2*w),-1))

weight in kg? 63

the weight in pound is: 140.0

In [72]:
w = eval(input('enter a number'))
r=1
for i in range (1,w+1):
    r = i*r
print(r)

enter a number 5

120

In [77]:
x = eval(input('enter a number'))
print(sin(x),cos(x),tan(x))

enter a number 0

0.0 1.0 0.0

In [81]:
x = eval(input('enter an angle in degrees'))
print(sin((2*pi)*x/360))

enter an angle in degrees 90

1.0

In [85]:
for i in range (0,346,15):
    print(i, round(sin((2*pi)*i/360),4),round(cos((2*pi)*i/360),4))

0 0.0 1.0
15 0.2588 0.9659
30 0.5 0.866
45 0.7071 0.7071
60 0.866 0.5
75 0.9659 0.2588
90 1.0 0.0
105 0.9659 -0.2588
120 0.866 -0.5
135 0.7071 -0.7071
150 0.5 -0.866
165 0.2588 -0.9659
180 0.0 -1.0
195 -0.2588 -0.9659
210 -0.5 -0.866
225 -0.7071 -0.7071
240 -0.866 -0.5
255 -0.9659 -0.2588
270 -1.0 -0.0
285 -0.9659 0.2588
300 -0.866 0.5
315 -0.7071 0.7071
330 -0.5 0.866
345 -0.2588 0.9659

In [100]:
Y = eval(input('enter a year in full four digits'))
C = Y//100
m = (15+C-floor(C/4)-floor((8*C+13)/25))%30
n = (4+C-floor(C/4))%7
a = Y%4
b = Y%7
c = Y%19
d = (19*c+m)%30
e = (2*a+4*b+6*d+n)%7
if (d==29 and e==6):
    print('it is on: April 19')
elif (d==28 and e==6 and m in (2,5,10,13,16,21,24,39)):
    print('it is on: April 18')
elif 1<=(22+d+e)<=31:
    print('it is on: March',22+d+e)
elif 1<=(d+e-9)<=31:
    print('it is on: April', d+e-9)

enter a year in full four digits 1880

it is on: March 28

In [102]:
x = eval(input('insert a year above 1600'))
count = 0
for i in range (1600,x):
    if ((i%4==0) and (i%100!=0)) or ((i%100==0) and (i%400==0)):
        count = count+1
        print(count,i)

insert a year above 1600 2010

1 1600
2 1604
3 1608
4 1612
5 1616
6 1620
7 1624
8 1628
9 1632
10 1636
11 1640
12 1644
13 1648
14 1652
15 1656
16 1660
17 1664
18 1668
19 1672
20 1676
21 1680
22 1684
23 1688
24 1692
25 1696
26 1704
27 1708
28 1712
29 1716
30 1720
31 1724
32 1728
33 1732
34 1736
35 1740
36 1744
37 1748
38 1752
39 1756
40 1760
41 1764
42 1768
43 1772
44 1776
45 1780
46 1784
47 1788
48 1792
49 1796
50 1804
51 1808
52 1812
53 1816
54 1820
55 1824
56 1828
57 1832
58 1836
59 1840
60 1844
61 1848
62 1852
63 1856
64 1860
65 1864
66 1868
67 1872
68 1876
69 1880
70 1884
71 1888
72 1892
73 1896
74 1904
75 1908
76 1912
77 1916
78 1920
79 1924
80 1928
81 1932
82 1936
83 1940
84 1944
85 1948
86 1952
87 1956
88 1960
89 1964
90 1968
91 1972
92 1976
93 1980
94 1984
95 1988
96 1992
97 1996
98 2000
99 2004
100 2008

In [105]:
x = eval(input('enter a number less than 100 pennies'))
Q = x//25
D = (x%25)//10
N = (x-(Q*25)-(D*10))//5
P = x-(Q*25)-(D*10)-(N*5)
print('the money, Q, D, N and P are:',x,Q,D,N,P)

enter a number less than 100 pennies 84

the money, Q, D, N and P are: 84 3 0 1 4

In [8]:
w = eval(input('enter the width'))
h = eval(input('enter the height'))
n=0
for i in range (h):
    for j in range(w):
        print(n%10,end=' ')
        n=n+1      
    print()

enter the width 5
enter the height 3

0 1 2 3 4
5 6 7 8 9
0 1 2 3 4