In [1]:
from random import *
from math import *
from string import *
from string import punctuation

In [8]:
L=['er','el','sa','xo']
n=choice(L)
n

'xo'

In [5]:
L=['er','el','sa','xo']
n=sample(L,2)
n

['xo', 'er']

In [6]:
s='abcdefghijklmnopqrstuvwxyz1234567890!@#$%^&*()'
for i in range(1000):
    print(choice(s),end='')

yz@k@3)ea*veto#o^s1i(wgzybtuv@ys)*3j0yyug!&c9%nabj7lf6w6uuk#op!c3ypo@n%1v!9ym6*c%3&!do*!7d)mh2h0w96%iz553mn%zk81ioq6mq(k4cjhw2fml8wz9f068s@(!y2d)e$&s(!t$r!khf8&@phmdtoj(3ogry36p8k55z@u3!zqh4(56*4%lb*(zg0os^qlc7qnm6@p@b3r0@leplcmy)n18a2t@4xt^o9&1&xr)la$s9ztx&h)lc(8)j02v%vxehl6ii$mu)fa$7cc$4utx#^tv(o5d4^3yto@f@57uj!ogo1u9qta7xm!mq1!l6so7l@4z3%mze641d$rave!pk$x96t95vb#^$2@mpfe4x(yql1%%bniafi0u#)os!a4n$x3xgn(liv4ge$)6i&xlwaaba39up^)9ae^lt53sj&4khhnd#8p!k9acf$cdsj^kt92@36%y@@qe^z^pmndg#ljag0ambamztq#b@^qm#7l(^4d26!qvua^2d!y*^mab0#p)t911(#iebd9sd(5fxk3d)6cmkmzc9vmezb$o9h8h458uy^344yg@8q6d0zohx59h&f)54010v*rr7pg%@x)eypa0gp3@@aiow9sjj662di&r8t3l33a8a^bw@nf%p98wt^&4q8m6uv%d6a8pt@6%a5e%vqc93k6&hukcxvf5%uunbbb1hs4w4fay&8177v8689mqd7s79s7hx@v)sm9r4&7u%!$mlq%dcoilf5#9xk181axb5jz^d2hnw1qzxe7z#1%0(ggsofz7mqp6y0kq90vgq$tm7617cejr4f^y%)ct@y2sx^jg1rtj5#vagl(uqtjyv7*djc5igrbhux#1ikgt)6)7k75%t%a2$)(id)oo&@ulm8xmf*6oc&a3m^g%6#@c3&qdtg$p!ac6$0bvtv^)5684aw4dg%xt4si4!!v%zi)&61xp$@ki#v6gp2g@80p(rbsix$mlu$w3t90

In [7]:
L=['er','el','sa','xo']
shuffle(L)
L

['er', 'el', 'sa', 'xo']

In [9]:
L= eval(input('enter the list of names'))
shuffle(L)
M=[]
for i in range(0,len(L),2):
    M.append([L[i],L[i+1]])
M

enter the list of names ['wk','hhg','gcc','gh']

[['gcc', 'wk'], ['hhg', 'gh']]

In [10]:
s =  'Hi! This is a test.' 
print(s.split())

['Hi!', 'This', 'is', 'a', 'test.']

In [11]:
s = 'this is a big!!! problem, so you should solve(?) first'
for c in punctuation:
    s= s.replace(c,'')
s

'this is a big problem so you should solve first'

In [20]:
#s = 'this is a big!!! problem, so you should solve(?) first'
s = input('enter a string')
w = input('enter a certain word')
s.lower()
for c in punctuation:
    s=s.replace(c,'')
L=s.split()
r=L.count(w)
r

enter a string this is a big!!! problem, so you should big solve(?) first
enter a certain word big

2

In [22]:
s='1-206-889-8241'
s.split('-')

['1', '206', '889', '8241']

In [5]:
L=['dfghj','iy','qaxc']
',* '.join(L)

'dfghj,* iy,* qaxc'

In [18]:
s='there'
L=[]
for i in range(len(s)):
    L.append(s[i])
shuffle(L)
s=''.join(L)
s

'reteh'

In [20]:
L=[i for i in range(5)]
L

[0, 1, 2, 3, 4]

In [22]:
M = ['one', 'two', 'three', 'four', 'five', 'six']
L=[m[0] for m in M if len(m)==4]
L

['f', 'f']

In [24]:
L=[[i,j] for i in range(2) for j in range(3)]
L

[[0, 0], [0, 1], [0, 2], [1, 0], [1, 1], [1, 2]]

In [25]:
L=[[i,j] for i in range(4) for j in range(i)]
L

[[1, 0], [2, 0], [2, 1], [3, 0], [3, 1], [3, 2]]

In [36]:
L=[randint(0,100) for j in range(50)]

In [30]:
M=[m**2 for m in L]
M

[6724,
 100,
 361,
 6084,
 1936,
 729,
 1521,
 9,
 2401,
 2304,
 16,
 49,
 1764,
 361,
 1849,
 2500,
 49,
 4624,
 9604,
 1156,
 289,
 6889,
 5625,
 4,
 7744,
 1,
 3600,
 3364,
 361,
 676,
 1681,
 1024,
 1936,
 5929,
 9216,
 4225,
 7056,
 900,
 2401,
 1600,
 7744,
 441,
 2401,
 0,
 7569,
 784,
 2916,
 4489,
 2601,
 10000]

In [35]:
N=len([m for m in L if m>50])
N

19

In [ ]:
M=[L.count(i) for i in range(1,101)]

In [47]:
alphabet='abcdefghijklmnopqrstuvwxyz'

L=''.join([choice(alphabet) for i in range(1000)])
L

'tfmwhyyradgcqeudzmbjuttjanaamqkgpblkulsvvssibndzkutdbvbeatjtmewkzlgzcaevzrhwwyxwdxzmyzvzsqlpluylxjmiijpadexdzmrgfysrszzxoorbqkeyhmsbhzzqbnyawionzkfskvoerwkbzqqcczdjirsuhpkxfkojgaydnklmnvxcyrmqmsqdasbhcexxqcoemagmxhrsvylgzmxmfjtihtqtzndbsdkzpoueybrognzkogsrjgfmdbcwataqzxktvoppvnfeszzylrpcwfbwcdqodihgdvexuculkivpkjgxnizyojoohlxvolwefgxwftaguyzvywafudgtjxeagnavkojkrpuywdjjwvedqzdvvpjeykenickscdzycliijciltckyipacyazuevsxmhapnrpunjsmayrrnwqsroqbhjbuzjcavidirrorcxydiuchuxjnjsmnavnxcdghbdonsexghcgakhhewkqertcfftllwjjjoyytixoeyxgmrgntehewqtlvszgmjajhccqvylwoywoggqheoaxlbxvnrcqnliwyrvvpkeuqrrosdrcctkpztrqznlukrjbetrqlxpjlnzxhnkqugkqseumojmjmstvvcwchmgayrwkqykbjmuqyftblxjpvrjcvgqkhvgmovsdiwsfprbzmpeqjdokifgpoxbedtspbmlggxmqhczxxxxnqppwknraypquflfdpzldzyiraxdyemicpnyjywurixpdbuslltyqppzakzvtseobfdgvwcavkgmeqgbecprdbwveeyqjtajbswyayjimkekfywitesqzxzhfbmoxsrekjmprqidsnjjpcccwjsyydoryqigvxmokdgdrqknjhaapaxbqeitcpfmgkiasgpawmuiupjytszywanmqzjeglkmpsbddshhktrlxyhbmntjinmblqkkumnfqogohwqzutvmigsihuoymn'

In [48]:
alphabet='abcdefghijklmnopqrstuvwxyz'
L=''.join([choice(alphabet) for i in range(1000)])

In [3]:
[randint(1,100) for i in range (50)]

[78,
 96,
 59,
 30,
 72,
 66,
 7,
 73,
 20,
 56,
 52,
 84,
 43,
 71,
 87,
 42,
 23,
 18,
 22,
 94,
 92,
 35,
 81,
 64,
 90,
 87,
 56,
 41,
 46,
 13,
 39,
 31,
 10,
 18,
 60,
 9,
 33,
 20,
 80,
 11,
 66,
 95,
 17,
 1,
 92,
 23,
 64,
 85,
 63,
 95]

In [ ]:
len([i for i in L if i>50])

In [ ]:
[L.count(i) for i in range(1,101)]

In [7]:
L = [[1,2], [3,4], [5,6]]
M = [[y,x] for [x,y] in L]
M

[[2, 1], [4, 3], [6, 5]]

In [9]:
L = [[1,2,3], [4,5,6]]
len(L)

2

In [ ]:
L[r]
[L[i][c] for i in range(len(L))]

In [10]:
L = [[1,2,3], [4,5,6], [7,8,9]]
[j for M in L for j in M]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
L=[[[0]*5 for i in range (3)] for j in range(4)]

In [ ]:
L[1][2][1]

In [21]:
L=[[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]],
 [[0, 0, 0, 0, 0], [0, 0, 88, 0, 0], [0, 0, 0, 0, 0]],
 [[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]],
 [[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]]
L[1][1][2]

88

In [14]:
[0]*5

[0, 0, 0, 0, 0]

In [15]:
[[0]*5 for i in range(3)]

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [18]:
['X' for i in range(3)]

['X', 'X', 'X']

In [19]:
s='X'
for i in range(3):
    print(s)

X
X
X

In [31]:
count=0
s=input('enter text')
for c in punctuation:
    s=s.replace(c,'')
s=s.lower()
L=s.split()
for i in L:
    if i=='a' or i=='an' or i=='the':
        count = count +1
count

enter text 'an fghjk nmm, the fghj?? jhg a fgj lkjjh.

3

In [33]:
L=[]
for i in range(5):
    n=input('enter num 1')
    L.append(n)
s='+'.join(L)
s

enter num 1 6
enter num 1 8
enter num 1 7
enter num 1 4
enter num 1 1

'6+8+7+4+1'

In [34]:
s=input('enter a sentence')
for c in punctuation:
    s=s.replace(c,'')
L=s.split()
L[2]

enter a sentence 'an fghjk nmm, the fghj?? jhg a fgj lkjjh.

'nmm'

In [36]:
s=input('enter a sentence')
for c in punctuation:
    s=s.replace(c,'')
L=s.split()
for i in range(2,len(L),3):
    print(L[i])

enter a sentence 'an fghjk nmm, the fghj?? jhg a fgj . fdg! fhj fhjk?'

nmm
jhg
fdg

In [37]:
s=input('enter a sentence')
L=s.split()
shuffle(L)
sprime=' '.join(L)
sprime

enter a sentence 'an fghjk nmm, the fghj?? jhg a fgj . fdg! fhj fhjk?'

"jhg fhjk?' fghjk fhj fgj fdg! . a 'an the nmm, fghj??"

In [36]:
s=input('enter a sentence')
s=s.lower()
s=s.replace('.','')
L=s.split()
shuffle(L)
L[-1]=L[-1]+'.'
sp=' '.join(L)
sp=sp[0].upper()+sp[1:]
sp

enter a sentence Anfghjk  nmm, the fghj?? jhg a fgj fdg! fhj fhjk.

'Fhjk anfghjk fgj nmm, fdg! the jhg a fhj fghj??.'

In [28]:
B= 'fghjkAn  nmm, the fghj?? jhg a fgj fdg! fhj fhjk.'
L=B.split()
L[0][0]

'f'

In [22]:
L[0]

'an'

In [2]:
L=[]
for i in range(6):
    L.append(randint(1,48))
L

[25, 12, 7, 17, 25, 37]

In [20]:
A1=[]
count=0
Q=['Q1','Q2','Q3','Q4','Q5','Q6','Q7','Q8','Q9','Q10']
Q1=Q[:]
A=['A1','A2','A3','A4','A5','A6','A7','A8','A9','A10']
shuffle(Q1)
for i in range(len(Q)):
    A1.append(A[Q.index(Q1[i])])
for j in range(4):
    print(Q1[j])
    r=input('what is the answer?')
    if r.lower()==A1[j].lower():
        print('you are right')
        count=count+1
    else:
        print('wrong')
print('you answer', count, 'right response')

Q7

what is the answer? A3

wrong
Q6

what is the answer? A6

you are right
Q10

what is the answer? a10

you are right
Q8

what is the answer? a6

wrong
you answer 2 right response

In [4]:
Q=['Q1','Q2','Q3','Q4','Q5','Q6','Q7','Q8','Q9','Q10']
print(Q)

['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10']

In [25]:
s=input('enter a text')
s=s.lower()
NO=['darn', 'dang', 'freakin', 'heck', 'shoot']
sp=s
for c in punctuation:
    sp=sp.replace(c,'')
Lp=sp.split()
for i in range(len(Lp)):
    if Lp[i] in NO:
        Lp[i]='*'*len(Lp[i])
f1=' '.join(Lp)
for j in range(len(s)):
    if s[j] in punctuation:
        f1=f1[:j]+s[j]+f1[j:]
f1

enter a text Oh shoot, I thought I had the dang problem figured out. Darn it. Oh well, it was a heck of a freakin try.

'oh *****, i thought i had the **** problem figured out. **** it. oh well, it was a **** of a ******* try.'

In [47]:
LP=[]
s=input('enter a string')
count=len(s)
L=list(s)
while count!=0:
    x=choice(L)
    LP.append(x)
    L=L[:L.index(x)]+L[L.index(x)+1:]
    count=count-1
sp=''.join(LP)
sp

enter a string elhama

'laeham'

In [134]:
#abc-def-hijk or 1-abc-def-hijk
flag1=1
flag2=1
t=input('enter the telephone number')
if len(t)==12:
    for i in [0,1,2,4,5,6,8,9,10,11]:
        if ord(t[i])<48 or ord(t[i])>57:
            flag1=0
    if t[3]!='-' or t[7]!='-':
        flag1=0
    if flag1==0:
        print('InValid')
    if flag1==1:
        print('Valid')
elif len(t)==14:
    for i in [0,2,3,4,6,7,8,10,11,12,13]:
        if ord(t[i])<48 or ord(t[i])>57:
            flag2=0
    if t[1]!='-' or t[5]!='-' or t[9]!='-':
            flag2=0
    if flag2==0:
            print('InValid')
    if flag2==1:
        print('Valid')
else:
    print('InValid')

enter the telephone number 3014475820

InValid

In [52]:
ord('0')

48

In [54]:
ord('9')

57

In [84]:
ord('X')

88

In [109]:
L=['elham','erfan','amir','bahareh','homa','heshmat','Al']
L1=[m[1:] for m in L]
L2=[len(m) for m in L]
L3=[m for m in L if len(m)>=3]
L1,L2,L3

(['lham', 'rfan', 'mir', 'ahareh', 'oma', 'eshmat', 'l'],
 [5, 5, 4, 7, 4, 7, 2],
 ['elham', 'erfan', 'amir', 'bahareh', 'homa', 'heshmat'])

In [138]:
L=[m for m in range(100,1001) if (str(m))[::-1]==(str(m))[::]]
L

[101,
 111,
 121,
 131,
 141,
 151,
 161,
 171,
 181,
 191,
 202,
 212,
 222,
 232,
 242,
 252,
 262,
 272,
 282,
 292,
 303,
 313,
 323,
 333,
 343,
 353,
 363,
 373,
 383,
 393,
 404,
 414,
 424,
 434,
 444,
 454,
 464,
 474,
 484,
 494,
 505,
 515,
 525,
 535,
 545,
 555,
 565,
 575,
 585,
 595,
 606,
 616,
 626,
 636,
 646,
 656,
 666,
 676,
 686,
 696,
 707,
 717,
 727,
 737,
 747,
 757,
 767,
 777,
 787,
 797,
 808,
 818,
 828,
 838,
 848,
 858,
 868,
 878,
 888,
 898,
 909,
 919,
 929,
 939,
 949,
 959,
 969,
 979,
 989,
 999]

In [25]:
flag_inner=0
#flag_outer=0
count=0
contor=0
A=[]
for i in range(10):
    L=[randint(1,10) for j in range(6)]
    L.sort()
    flag_inner=0
    contor=0
    while flag_inner==0:
        T=[randint(1,10) for j in range(6)]
        T.sort()
        contor=contor+1
        if T==L:
            A.append(contor)
            flag_inner=1
print(A)
#S=sum(A)
#len(A)
Average=sum(A)/len(A)
print(Average)

[3387, 1052, 25, 14290, 495, 366, 10618, 41879, 2543, 1093]
7574.8

In [37]:
Names=eval(input('enter the names'))
Many=eval(input('how many entries?'))
L=[]
for i in range(len(Names)):
    L.append(Names[i]*Many[i])
shuffle(L)
k=choice(L)
print(k,L.count(k))
print(L)

enter the names ['eli','erfan','amir','ali']
how many entries? [1,2,2,1]

eli 1
['erfanerfan', 'eli', 'amiramir', 'ali']

In [43]:
Names=eval(input('enter the names'))
Many=eval(input('how many entries?'))
L=[]
print(len(Names))
for i in range(len(Names)):
    print(i)
    for j in range(Many[i]):
        L.append(Names[i])
shuffle(L)
k=choice(L)
print(k,L.count(k))
print(L)

enter the names ['eli','erfan','amir','ali']
how many entries? [1,2,3,4]

4
0
1
2
3
ali 4
['ali', 'eli', 'ali', 'ali', 'amir', 'ali', 'erfan', 'amir', 'erfan', 'amir']

In [27]:
l=[]
a=['eli','erfan','amir','ali']
b=[3,4,4,2]
for i in range(len(a)):
    l.append(a[i]*b[i])
l

['elielieli', 'erfanerfanerfanerfan', 'amiramiramiramir', 'aliali']

In [5]:
b=[3,4,4,2]
a=[4,2,3,54]
b.sort()
a.sort()
a==b

False

In [31]:
for  i in range(5):
    print(i)

0
1
2
3
4

In [126]:
#L=[[1]+ [0 for j in range(i)] for i in range(1,11) ]
#L
N=[k for M in [[1]+ [0 for j in range(i)] for i in range(11) ] for k in M]+[1]
N

[1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1]

In [119]:
L=['1'+'0'*i for i in range(11)]
L

['1',
 '10',
 '100',
 '1000',
 '10000',
 '100000',
 '1000000',
 '10000000',
 '100000000',
 '1000000000',
 '10000000000']

In [91]:
L=[]
for i in range(0,11):
    L=L+[1]+[0]*i
L=L+[1]
print(L)

[1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]

In [137]:
L=[2,3,5,7,11,13,17,19,23,29,31,37,41,43,47]
M=[i for i in range(2,48) if i not in L]
G=[L[i]-L[i-1]-1 for i in range(1,len(L))]
max(G)
P=(G.count(2))/len(G)*100
G

[0, 1, 1, 3, 1, 3, 1, 3, 5, 1, 5, 3, 1, 3]

In [146]:
L=[[1,2,3,4],[2,4,6,8],[5,6,7,9],[0,1,2,3]]
M=[i for M in L for i in M ]
sum(M)/16

3.9375

In [155]:
L=[[randint(1,100) for i in range(10)] for j in range(10)]
print(L)
print(max(L[2][:]))
print(min([L[i][5] for i in range(10)]))

[[90, 11, 22, 16, 11, 52, 30, 65, 29, 61], [9, 81, 65, 85, 60, 96, 40, 16, 75, 44], [41, 76, 90, 81, 34, 32, 61, 67, 68, 63], [91, 50, 79, 33, 84, 50, 24, 82, 87, 3], [43, 26, 6, 71, 27, 8, 92, 61, 29, 90], [48, 82, 91, 75, 78, 82, 56, 53, 48, 52], [22, 40, 98, 36, 30, 86, 31, 38, 43, 35], [97, 17, 26, 53, 66, 49, 57, 30, 13, 8], [28, 67, 10, 77, 26, 36, 51, 99, 98, 33], [58, 20, 83, 79, 72, 88, 97, 93, 4, 39]]
90
8

In [160]:
L=[  for j in range(8)]
L

SyntaxError: invalid syntax (<ipython-input-160-4c34a71daf47>, line 1)

In [168]:
#L=[[[1]+[2] for i in range(4)] for j in range(8)]
#N=[i for M in L for i in M]
P=[[i for M in [[1]+[2] for i in range(4)] for i in M] for j in range(8)]
P

[[1, 2, 1, 2, 1, 2, 1, 2],
 [1, 2, 1, 2, 1, 2, 1, 2],
 [1, 2, 1, 2, 1, 2, 1, 2],
 [1, 2, 1, 2, 1, 2, 1, 2],
 [1, 2, 1, 2, 1, 2, 1, 2],
 [1, 2, 1, 2, 1, 2, 1, 2],
 [1, 2, 1, 2, 1, 2, 1, 2],
 [1, 2, 1, 2, 1, 2, 1, 2]]

In [ ]:
L=eval(input('enter a 4*4 list'))
S=sum(L[])
for i in range(4):
    if sum(L[i][:])==sum()

In [6]:
#L=[1_inches, 2_yards, 3_miles, 4_meters]
L=eval(input('enter the length'))
V=eval(input('enter the unit, 0 for inches, 1 for yards, 2 for miles, 3 for meters'))
T=eval(input('enter the unit to convert, 0 for inches, 1 for yards, 2 for miles, 3 for meters'))
C=[[1, 0.028, 0.0000158, 0.0254], [36, 1, 0.00057, 0.9144],
           [63360, 1760, 1, 1609], [39.37, 1.093, 0.00062, 1]]
print('the result is:', L*C[V][T])

enter the length 2
enter the unit, 0 for inches, 1 for yards, 2 for miles, 3 for meters 3
enter the unit to convert, 0 for inches, 1 for yards, 2 for miles, 3 for meters 0

the result is: 78.74

In [7]:
L=[[randint(0,1) for i in range(5)] for j in range (5)]
print(L)
r=eval(input('enter a row'))
c=s=eval(input('enter a column'))
if L[r][c]==1:
    print('Hit')
else:
    print('Miss')

[[1, 0, 0, 0, 0], [1, 1, 1, 1, 1], [0, 0, 0, 1, 1], [0, 1, 1, 0, 1], [0, 1, 0, 0, 0]]

enter a row 2
enter a column 3

Hit

In [38]:
L=[chr(randint(33,127)) for i in range(18)]*2
shuffle(L)
for i in range(6):
    for j in range(6):
        k=choice(L)
        print(k,end=' ')
        L=L[:L.index(k)]+L[(L.index(k))+1:]
    print()

Y x b 9 B <
3 - 9 l o b
? Y ] M ( 7
x ? y o ] y
- M ' B y l
y ( 3 7 ' <

In [25]:
chr(33)

'!'

In [53]:
chr(126)

'~'

In [72]:
L=[[randint(0,1) for i in range(5)] for j in range(5)]
L

[[1, 1, 0, 1, 0],
 [0, 0, 1, 0, 1],
 [1, 1, 1, 0, 0],
 [0, 1, 1, 1, 1],
 [0, 0, 0, 1, 0]]

In [25]:
L=[[randint(0,1) for i in range(4)] for j in range(4)]
a=sum(L[0])
j=0
flag=0
for i in range(1,4):
    if sum(L[i])!=a:
        print('No magic')
        flag=1
        break
if flag==0:
    for j in range(4):
        s=0
        for i in range(4):
            s=s+L[i][j]
        if s!=a:
            print('No magic')
            flag=1
            break
if flag==0:
    t=0
    for i in range(4):
        t=t+L[i][i]
    if t!=a:
        print('No magic')
        flag=1
        
if flag==0:
    t=0
    for i in range(4):
        t=t+L[i][len(L)-1-i]
    if t!=a:
        print('No magic')
        flag=1
        
if flag==0:
    print('MAGIC!')

No magic

In [4]:
L=[[randint(0,1) for i in range(5)] for j in range(5)]
L

[[0, 1, 0, 1, 1],
 [1, 0, 1, 0, 1],
 [1, 0, 0, 0, 0],
 [0, 1, 1, 0, 0],
 [0, 1, 0, 0, 1]]

In [9]:
for i in range(5):
    print(L[i][2])

0
1
0
1
0

In [ ]:
[[0, 1, 0, 1],
 [1, 0, 1, 0],
 [0, 0, 1, 1],
 [0, 1, 0, 0]]

In [26]:
L=[[randint(0,1) for i in range(5)] for j in range(5)]
(L)

[[1, 1, 0, 1, 1],
 [0, 1, 0, 1, 0],
 [1, 1, 0, 1, 1],
 [1, 1, 1, 0, 0],
 [0, 0, 0, 0, 1]]

In [28]:
shuffle(L)
L

[[0, 0, 0, 0, 1],
 [1, 1, 0, 1, 1],
 [1, 1, 1, 0, 0],
 [0, 1, 0, 1, 0],
 [1, 1, 0, 1, 1]]

In [6]:
L=[[randint(0,1) for i in range(5)] for j in range(5)]
N=L[:]
K=[]
for i in range (len(L)):
    for j in range(len(L)):
        if L[i][j]==0:
            K.append([i,j])
M=choice(K)
N[M[0]][M[1]]==1
print(L)
print(K)
print(M)
print(N)

[[1, 1, 1, 1, 1], [0, 1, 1, 1, 1], [1, 1, 0, 1, 1], [1, 0, 1, 0, 1], [0, 0, 0, 0, 0]]
[[1, 0], [2, 2], [3, 1], [3, 3], [4, 0], [4, 1], [4, 2], [4, 3], [4, 4]]
[4, 0]
[[1, 1, 1, 1, 1], [0, 1, 1, 1, 1], [1, 1, 0, 1, 1], [1, 0, 1, 0, 1], [0, 0, 0, 0, 0]]